.reservas-screen__drawer__button {
    width: 100%;
    margin-bottom: 10px;
} 
.reservas-screen__drawer__description {
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 300px);
    animation: select-animation2 0.5s none ease;
}
@keyframes select-animation2 {
    from {
        opacity: 0.5;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.reservas-screen__drawer__buttons {
    width: 100%;
}
.reservas-screen__drawer__button-valet-parking{
    width: 100%;
    margin-top: 30px;
}