.modal__auth-cocina__head {
    display: flex;
    column-gap: 60px;
}

.modal__auth-cocina__body {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* flex: 1; */
    row-gap: 20px;
    justify-content: space-evenly;
}

.modal__auth-cocina__body__title {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.981px; /* 116.563% */
}

.modal__auth-cocina__body__description {
    width: 407px;

    color: var(--Placeholder, var(--Placeholder, #667085));
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
