@keyframes opacity-animation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}
.incidenciasDelDiaWitd {
    width: 100%;
    min-width: 246px;
    height: 216px;
    border-radius: 18.847px;
    background: rgba(14, 14, 14, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    animation: opacity-animation 0.5s none ease;
    box-sizing: border-box;
    position: relative;
}
.incidenciasDelDiaWitd__content {
    padding-top: 15px;
    width: 100%;
    box-sizing: border-box;
}
.incidenciasDelDiaWitd__title {
    color: #fff;
    font-family: var(--font-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 6px;
}
.incidenciasDelDiaWitd__info__subtitle {
    color: #fff;
    font-family: var(--font-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.incidenciasDelDiaWitd__info__box__number {
    font-family: "Qualy";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.incidenciasDelDiaWitd__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.incidenciasDelDiaWitd__infotable {
    display: grid;
    row-gap: 3px;
    color: #fff;
}
.incidenciasDelDiaWitd__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.incidenciasDelDiaWitd__infotable__l {
    color: #fff;
    font-size: 12px;
}
.incidenciasDelDiaWitd__infotable__r {
    color: var(--Color, #fff);
    text-align: end;
    font-family: var(--font-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.lineDivicion {
    margin: 2px;
    border: 1px solid rgba(48, 48, 48, 0.25);
}
.incidenciasDelDiaWitd__tab {
    width: 32px;
    position: absolute;
    bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.incidenciasDelDiaWitd__tab-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--white);
    opacity: 0.25;
}
.incidenciasDelDiaWitd__tab-item--active {
    opacity: 1;
}
