.inventory-card__header {
    position: relative;
    height: 122px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    border-bottom: 1.5px solid var(--Scroll, #eaecf0);
    background: var(--Color, #fff);

    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-card__header__img {
    width: 90px;
    height: 90px;
}

.inventory-card__header--grayscale {
    filter: grayscale(100%);
}

.inventory-card__header__badge--sold-out {
    position: absolute;
    display: flex;
    height: 18px;
    width: 120px;
    padding: 3.091px 9.273px;
    justify-content: center;
    align-items: center;
    gap: 6.182px;
    flex-shrink: 0;

    border-radius: 24.727px;
    border: 1.545px solid var(--Card-Ocupada-2, #f6bec3);
    background: var(--Card-Ocupada-2, #f6bec3);

    > span {
        color: var(--Timer-Ocupada, #dc3737);
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 27.818px; /* 173.864% */
    }
}

.inventory-card__header__badge--disabled {
    position: absolute;
    display: flex;
    height: 18px;
    width: 120px;
    padding: 3.091px 9.273px;
    justify-content: center;
    align-items: center;
    gap: 6.182px;
    flex-shrink: 0;

    border-radius: 24.727px;
    border: 1.545px solid var(--Fondo-mantenimiento, #d1d3de);
    background: var(--Fondo-mantenimiento, #d1d3de);

    > span {
        color: var(--Input-tag, #606060);
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 27.818px; /* 173.864% */
    }
}
