.drawerPersonalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.drawerPersonalWrapper__main {
    justify-content: space-between;
    height: 100%;
    flex-wrap: nowrap;
    margin-top: 24px;
}