.venta-habitacion__costs__item {
    width: 100%;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}

.venta-habitacion__costs__item-total {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.venta-habitacion__costs__item-total > span {
    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.venta-habitacion__costs__item-iva {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.venta-habitacion__costs__item-iva > span {
    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}
