.sales-item__dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.sales-item__value {
    color: var(--Estilo-Tipografia, #303030);
    text-align: right;

    /* Link - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}
