.about-card__btn-open {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15px;
    right: 12px;
}
.about-card__btn-close {
    width: 12px;
    height: 12px;
    margin-left: auto;
}
.about-card__btn {
    box-sizing: border-box;
    cursor: pointer;
}
.about-card__btn:active {
    opacity: 0.5;
}
.about-card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: rgba(14, 14, 14, 0.8);
    backdrop-filter: blur(1.7647058963775635px);
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms ease-in;
    z-index: 99;
    flex-direction: column;
}
.about-card--visible {
    display: flex;
    opacity: 1;
}
.about-card--not-visible {
    display: none;
    opacity: 0;
}
.about-card__container {
    width: 100%;
}
.about-card__item {
    width: 100%;
    margin-bottom: 12px;
}
.about-card__item__title {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}
.about-card__item__description {
    color: var(--white);
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
}
