.articulos-vendidos__table__wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.articulos-vendidos__table {
    overflow-x: scroll;
    height: 100%;
}