.input-measurement__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.input-measurement__semicontainer {
    position: relative;
}

.input-measurement__label {
    max-width: 320px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--label-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-measurement__wrapper {
    position: relative;
    display: flex;
    left: 0;
    align-items: center;
    width: 320px;
}

.input-measurement {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    outline: none;
    gap: 8px;
    font-size: 16px;
    max-width: 210px;
    height: 44px;
    background: var(--white);
    border: var(--border-input);
    border-radius: 0px 8px 8px 0px;
    border-width: 1px 1px 1px 0px;
}

.input-measurement:focus::placeholder {
    color: #e0e0e0;
}

.input-measurement__prefix {
    width: 95px;
    /* border: solid var(--light-blueish-gray); */
    border-width: 1px 0px 1px 1px;
    border-radius: 8px 0px 0px 8px;
    background-color: var(--white);
}

.input-measurement--error {
    border: 1px solid var(--pink-coral);
}

.input-measurement__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
