.LargeCardGMC {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.chevroUp-button-GMC {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.largecard-right__etiquetaPorsent {
    border-radius: 16px;
    border: 1px solid #6941C6;
    background: #6941C6;
    color: white;
    padding: 2px 8px;
    font-size: 18px;
    font-weight: 700;
}

.largecard-right__totalPAgado {
    color: var(--Tipografa);
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

@keyframes select-animation {
    from {
        opacity: 0.5;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.drop {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    transition: cubic-bezier(0.68, 0.15, 0.01, 1.18) 0.4s;
}

.largecard-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.largecard-button {
    padding: 12px 16px;
    box-shadow: 0px 0px 2px 1px #0000000d;
    border-radius: 12px;
    margin-left: 12px;
    cursor: pointer;
    animation: animation 0.5s none ease;
}

.card-subcategoria-name {
    display: flex;
}