.resumen-turno__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .screen__head {
        width: 1200px;
    }
}

.resumen-turno__turno {
    color: var(--placeholder);
    font-weight: 600;
    font-size: 14px;
}

.resumen-turno__fecha {
    color: var(--tipografa);
    font-weight: 600;
    font-size: 14px;
}

.ingresar-efectivo__button {
    width: 168px;
    height: 40px;
    text-wrap: nowrap;
    right: 0;

    .button__text {
        font-size: 12px;
    }
}

.resumen-turno__info {
    display: flex;
    justify-content: center;
}

.resumen-turno__container__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resumen-turno__subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 30px;
}

.resumen-turno__subtitle-link {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #6941C6;
}

.resumen-turno__tables {
    width: 860px;
    height: calc(100dvh - 130px);
    overflow: auto;
    padding-right: 10px;
}

.resumen-turno__table-ingresos,
.resumen-turno__table-room-service,
.resumen-turno__table-reservas,
.resumen-turno__table-efectivo,
.resumen-turno__table-gastos,
.resumen-turno__table-incidencias {
    border: 1px solid #EFEFEF;
    border-radius: 12px;
    overflow: auto;

    .flexible-table__header__cell {
        font-size: 12px;
    }

}

.resumen-turno__table-ingresos table thead tr th:first-child,
.resumen-turno__table-ingresos tbody tr td:first-child,
.resumen-turno__table-efectivo table thead tr th:first-child,
.resumen-turno__table-efectivo tbody tr td:first-child {
    width: 55%;
}

.resumen-turno__table-room-service table thead tr th:first-child,
.resumen-turno__table-room-service tbody tr td:first-child,
.resumen-turno__table-reservas table thead tr th:first-child,
.resumen-turno__table-reservas tbody tr td:first-child,
.resumen-turno__table-propinas table thead tr th:first-child,
.resumen-turno__table-propinas tbody tr td:first-child {
    width: 70%;
}

.resumen-turno__table-gastos table thead tr th:first-child,
.resumen-turno__table-gastos tbody tr td:first-child {
    width: 87%;
}

.resumen-turno-ticket__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.resument-turno-ticket-button {
    margin-top: 10px;
    width: 100%;
}

.resument-turno-ticket-button .button__text {
    font-size: 12px;
}

.resumen-ticket__container-buttons {
    border-top: 1px solid #EFEFEF;
    margin-top: 0px;
    padding-top: 5px;
}

.resumen-truno__empty-table {
    color: var(--tipografía);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-top: .5px solid var(--stroke);
    padding-top: 15px;
    padding-bottom: 15px;
}
.resumen-turno__tables::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.resumen-turno__tables::-webkit-scrollbar-thumb {
    background: var(--gray-cell-header); 
    border-radius: 8px;
}

