.input-tab {
    align-items: center;
}

.input-tabs {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.input-tabs__tab-label {
    white-space: nowrap;
    max-width: calc(100% - 15px);
    text-overflow: ellipsis;
}
.input-tabs__label {
    color: var(--label-color);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
}

.input-tabs__check__container {
    position: relative;
}

.input-tabs__check {
    position: absolute;
    left: 65px;
}

.input-tabs__label--big {
    color: var(--Header, #0e0e0e);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    letter-spacing: -0.24px;
}
.input-tabs__content {
    width: 100%;
    display: flex;
    column-gap: 10px;
}
.input-tab {
    row-gap: 7px;
    width: calc((100% - 10px) / 2);
    height: 40px;
    background-color: var(--white);
    color: var(--tipografa);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border: 1.5px solid transparent;
    box-sizing: border-box;
}
.input-tab > svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.input-tab--active {
    background-color: var(--fondo-close);
    border: 1.5px solid var(--purple-drawer-primario);
}
.input-tab--active > span {
    color: var(--purple-drawer-primario);
}
.input-tab--disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
