.room-detail--occupied__tab--payments--main {
    display: flex;
    flex-direction: column;
}

.room-detail--occupied__tab--payments__box {
    height: calc(100vh - 320px);
}
.room-detail--occupied__tab--payments__box--no-button {
    height: calc(100vh - 270px); 
  }

.room-detail--occupied__tab--payments__box > .room-detail--occupied__tab--payments__list {
    height: calc(100vh - 400px);
}

.room-detail--occupied__tab--payments__list {
    height: calc(100dvh - 510px);
    margin-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.room-detail--occupied__tab--payments__footer {
    margin-bottom: 36px;
}

.room-detail--occupied__tab--payments__divider {
    width: 100%;
    height: 1px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
}
.room-detail__tab--payments__group {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.room-detail__tab--payments--thin {
    color: var(--white);
    text-align: right;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}

.room-detail__tab--payments--bold {
    color: var(--white);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
}

.detalle-h-items__multiple--estancia{
    margin-bottom: 25px;
}
