.pull-to-refresh-container {
  width: 100%;
  display: block;
  background-color: #ffffff;
  position: relative;
  overflow: visible;
}

.pull-refresh-loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  transition: transform 0.15s ease, opacity 0.15s ease;
  opacity: 0;
}

.custom-loader-mobile {
  width: 30px;
  height: 30px;
  border: 3px solid #959595;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
