.cortes-p__table {
    margin-top: 40px;
    height: calc(100vh - 140px);
    width: 100%;
    overflow: hidden auto;
    overflow-x: scroll;
    position: relative;
}

.cortes-cell__container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cortes-p__link {
    color: var(--primary);
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: underline;
    cursor: pointer;
}

.cortes-button__link {
    height: 26px;
}

.cortes-pdf__link {
    background-color: var(--fondo-close);
    width: 34px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cortes-p__empty {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.cortes-p__empty .empty__circle_theme_light {
    background-color: var(--fondo--close);
}

.cortes-p__empty .empty__title {
    width: 100%;
    font-size: 29px;
    margin: 24px 0 16px;
}

.cortes-p__empty .empty__description {
    font-size: 14px;
}

.cortes-p__folio {
    display: flex;
    align-items: center;
}

.cortes-p__folio-dot {
    width: 10px;
    height: 10px;
    background-color: var(--pink-ocupado);
    border-radius: 50%;
    margin-right: 10px;
}

.cortes-p_folio-label {
    color: var(--tipografa);
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}

.cortes-p_value {
    max-width: 95px;
}
.cortes-p__table::after {
  display: none;
}

.cortes-p__table.cortes-p__table--show-gradient::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  pointer-events: none;
  background: linear-gradient(to top, #fff 0%, rgba(255,255,255,0) 100%);
  z-index: 10;
}
