.registro-reservas__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    animation: select-animation 0.5s none ease;
}
.registro-reservas {
    /* height: 75vh; */
    margin-bottom: 20px;
}
.registro-reservas__header h2 {
    margin: 0;
}
.registro-reservas__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.registro-reservas__icon-x {
    padding: 0.5rem;
    background-color: var(--card-gray);
    border-radius: 50%;
    cursor: pointer;
}
.registro-reservas__form__room {
    display: flex;
    width: inherit;
    flex-direction: column;
    margin-left: 70px;
}
.registro-reservas__form__room__dropdown {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    column-gap: 20px;
    margin-bottom: 40px;

    .input-text__hint {
        margin-top: 5px;
    }
}
.registro-reservas__form__room__tipeRoom {
    display: flex;
    width: 100%;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.registro-reservas__form__room__tipeRoom__item {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}
.container-date_selected {
    display: flex;
    gap: 5px;
    align-items: center;
}
.registro-reservas__form__room__tipeRoom__item p {
    margin: 3px;
}
.registro-reservas__form__room__tarifa {
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
    gap: 20px;
}
button.registro-reservas__form__room__button {
    border-radius: 5px;
    width: 100%;
    border: none;
    background: #2d3648;
    color: #fff;
    height: 2.5rem;
    cursor: pointer;
}

.registro-reservas__form__room__tarifa__column1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    column-gap: 20px;
}
.registro-reservas__form__room__tarifa__column2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.registro-reservas__form__counter {
    margin-top: 26px;
}
button:disabled.registro-reservas__form__room__button {
    background-color: #969ba3;
    cursor: not-allowed;
}

@keyframes select-animation {
    from {
        opacity: 0.5;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.counter-section-form {
    display: flex;
    gap: 174px;
    margin-bottom: 50px;
}

.registro-reservas__formDate {
    .input-text__label {
        font-size: 12px;
    }
}

.registro-reserva-screen {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 768px;

    .screen__head__title {
        font-size: 20px;
    }

    .guest-screen {
        padding-top: 18px;
    }
}

.registro-reservas__form__room {
    .input-text__label {
        font-size: 12px;
    }

    .input-text {
        width: 340px;
        height: 40px;
        font-size: 12px;
    }

    .counter__label {
        font-size: 12px;
    }

    .dropdown-component {
        width: 340px;
        height: 40px;
    }

    .dropdown-component__placeholder, .dropdown-component__value {
        font-size: 12px;
        width: 170px;
    }

    .counter__limit {
        font-size: 10px;
        width: 180px;
    }
}

.registro-reservas__form__room__tipeRoom__title {
    font-size: 12px;
    font-weight: 600;
    color: #606060;
}

.multiple-dropdown_experiencias .multiple-dropdown-component__value {
    max-width: 300px ;
}

.registro-reservas__form__room__experiencias-disabled{
    background-color: #606060;
    color: #606060;
}