.login-screen {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 620px 1fr;
}

.login-screen__content {
    width: 100%;
    background: linear-gradient(117deg, #f9f9f9 -38.52%, #fbfbfd 143.35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-screen__logo {
    margin-bottom: 45px;
}

.login-screen__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.6px;
    margin: 32px 0;
}

.login-screen__form {
    width: 420px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 5px;
}

.login-screen__input {
    width: 100%;
    margin-bottom: 24px;
}

.login-screen__input .input-text {
    width: 100%;
    padding: 10px 16px;
    padding-left: 50px !important;
    letter-spacing: -0.16px;
    line-height: 24px;
}

.login-screen__password {
    position: relative;
}

.login-screen__input-password__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30.8px;
    right: 16px;
    cursor: pointer;
}

.login-screen__check {
    align-items: center;
}

.login-screen__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.login-screen__link-forgot {
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.28px;
    text-decoration-line: underline;
    cursor: pointer;
}

.login-screen__link-forgot:active {
    opacity: 0.5;
}

.login-screen__button {
    width: 100%;
    height: 44px;
}

.login-screen__link-fingerprint {
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.28px;
    text-decoration-line: underline;
    cursor: pointer;
    text-align: center;
    display: block; 
    margin-top: 20px; 
}

.login-screen__link-fingerprint:active {
    opacity: 0.5;
}

.login-screen__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(44deg, #42307d 1.45%, #7f56d9 100%);
}

.login-screen__cover {
    width: 79%;
    min-width: 460px;
    max-width: 640px;
    margin-bottom: 100px;
}

.login-screen__text {
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
}

.login-screen__subtitle {
    color: var(--white);
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
    margin: 20px 0;
}

.login-screen__description {
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
}

@media screen and (max-width: 1300px) {
    .login-screen {
        grid-template-columns: 550px 1fr;
    }

    .login-screen__logo {
        margin-bottom: 10px;
    }

    .login-screen__cover {
        width: 65%;
        margin-bottom: 30px;
    }

    .login-screen__subtitle {
        font-size: 22px;
    }

    .login-screen__description {
        font-size: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .login-screen {
        grid-template-columns: 500px 1fr;
    }
}

.hrLinea {
    vertical-align: middle;
    width: 40%;
    height: 0;
    display: inline-block;
    border: 1px solid #bebebe;
}

.login-screen_divisor {
    display: flex;
    align-items: flex-end;
    margin: 24px 0;
}

.login-screen_social {
    border: 1px solid #bebebe;
    border-radius: 8px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

.google-login-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-screen_social_text {
    color: #6941c6;
    font-size: 14px;
    font-weight: 600;
    margin-left: 18px;
}

.login-screen_correo {
    width: 100%;
    text-align: center;
    margin-top: 24px;
    font-size: 14px;
}

.login-screen_correo_text {
    font-weight: 600;
    color: #6941c6;
    text-decoration: underline;
    cursor: pointer;
}