.config-rooms__rooms-grid {
    display: grid;
    gap: 10px;
    /* no deja espacios en blanco al crear nuevas columnas o filas pero si se excede en algun eje el scroll se va a mostrar en medio de la pantalla */
    /* width: fit-content;
    height: fit-content;
    max-width: calc(100dvw - 100px);
    max-height: calc(100dvh - 200px); */
    /* No muestra el scroll en medio de la pantalla al exceder en algun eje pero muestra espacios entre columnas y filas */
    width: calc(100dvw - 100px);
    height: calc(100dvh - 200px);
    overflow: scroll;
    user-select: none;
}
