.category-receta-container__header {
    height: 35px;
    background: #E9F1FF;
    display: flex;
    align-items: center;
}

.category-receta-container__title {
    font-size: 12px;
    font-weight: 700;
    line-height: 17.07px;
    text-transform: uppercase;
    margin-left: 12px;
}

.category-receta-container__icon {
    margin-left: 20px;
}

.category-receta-container__divider {
    background-color: #bebebe;
    height: 1px;
    width: 100%;
}