.historial-produccion__table {
    height: calc(100dvh - 290px);
    overflow: hidden auto;
}

.historial-produccion__empty {
    height: 100%;
    background-color: var(--white);
}

.historial-produccion__empty .empty__circle {
    height: 100px;
    width: 100px;
}

.historial-produccion__empty .empty__icon {
    height: 50px;
    width: 50px;
}

.historial-produccion__empty .empty__description {
    margin-top: 13px;
    font-size: 14px;
}