.gastos-mayor-categoria {
    color: var(--Tipografa, #303030);
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 10px 0;

    line-height: normal;
}
.gastos-mayor-categoria__main {
    overflow-y: scroll;
    height: calc(100dvh - 145px);
    position: relative;
}
.gastos-mayor-categoria__main__wrapper::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
}

.gastos-mayor-categoria-notData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.gastos-categoria-skeleton {
    width: 256px;
    height: 24px;
    border-radius: 8px;
    margin: 25px 0 18px 0;
}
.skeleton-item-base {
    width: 256px;
    height: 24px;
    border-radius: 8px;
}
