.pago-propinas__ajuste {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pago-propinas__ajuste__head {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.pago-propinas__ajuste__circle {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo-close);
    border-radius: 50%;
    margin-bottom: 16px;
}
.pago-propinas__ajuste__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--tipografa);
    line-height: 21px;
}
.pago-propinas__ajuste__subtitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--tipografa);
    line-height: 21px;
}
.pago-propinas__ajuste__pago {
    font-size: 14px;
    font-weight: 600;
    color: var(--tipografa);
    line-height: 21px;
}
.pago-propinas__ajuste__pago span {
    color: var(--primary);
    font-weight: 600;
}
.pago-propinas__ajuste_input {
    margin-bottom: 16px;
}
.pago-propinas__ajuste__form {
    width: 100%;
}
.pago-propinas__ajuste__content {
    box-sizing: border-box;
    padding: 16px 30px 0;
}
.pago-propinas__ajuste__note {
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    color: var(--placeholder);
}
.pago-propinas__ajuste__switch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 4px;
}
.pago-propinas__ajuste__switch-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: var(--label-color);
}
.pago-propinas__ajuste__footer {
    width: 100%;
    box-sizing: border-box;
    padding: 18px 30px;
    border-top: 0.8px solid var(--gray-background);
    margin-top: 32px;
}
.pago-propinas__ajuste__button {
    width: 100%;
}
