.cortes-modal-recepcion .form-add-fajilla__title {
    justify-content: center;
    margin: 0;
}
.cortes-modal-recepcion .icon-header {
    height: 100px;
    width: 100px;
}
.cortes-modal-recepcion .icon-header__icon {
    height: 50px;
    width: 50px;
}

.modal-recepcion-subtitle {
    color: #667085;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.modal-recepcion-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-recepcion-buttons > button {
    width: 49%;
}
