.room-search {
    position: relative;
}
.room-search__input-contain {
    position: relative;
}
.room-search__input-contain .input-text__container {
    gap: 0;
}
.room-search__input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gray-disabled);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03) !important;
}
.room-search__options {
    width: 100%;
    height: auto;
    max-height: 280px;
    position: fixed;
    z-index: 101;
    top: calc(44px + 15px);
    border-radius: 8px;
    border: 1px solid var(--gray-disabled);
    background-color: var(--white);
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    overflow-y: auto;
}
.room-search__item {
    width: 100%;
    height: 92px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
    user-select: none;
}
.room-search__item:hover {
    background-color: var(--fondo-close);
}
.room-search__item__image-cover {
    width: 70px;
    height: 100%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    flex-shrink: 0;
}
.room-search__item__img {
    object-fit: cover;
    mix-blend-mode: multiply;
}
.room-search__item__name {
    color: var(--tipografa);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.room-search__item__cost {
    color: var(--placeholder);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.room-search__item__extra_info {
    color: var(--placeholder);
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
}

.room-search__close {
    width: 30px;
    height: 30px;
    background-color: var(--fondo-close);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
}
.room-search__options::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
