.detalle-h-general__clean-staff__block {
    height: calc(100% - 190px);
    overflow-y: auto;
    margin-bottom: 40px;
}
.detalle-h-general__clean-type__box {
    height: calc(100% - 98px);
}
.detalle-h-general__block-mg {
    height: calc(100% - 90px);
    margin-bottom: 60px;
}
.detalle-h-general__block-active__staff {
    height: calc(100% - 80px);
    margin-bottom: 60px;
}
.detalle-h-general__mantenance__box {
    height: calc(100% - 150px);
}
.detalle-h-general__booking__text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.detalle-h-general__booking__box {
    height: calc(100% - 192px);
}
.detalle-h-general__clean__tipo-limpieza {
    height: calc(100dvh - 330px);
    overflow-y: auto;
}
.detalle-h-general__supervision__box {
    width: 100%;
}
.detalle-h-general__empty-simple {
    height: calc(100% - 20px);
    margin-bottom: 20px;
}
.detalle-h-general__empty-complete {
    height: calc(100% - 55px);
    margin-bottom: 20px;
}
.detalle-h-general__empty-complete .empty__title {
    white-space: break-spaces;
}
