.tabla-personal__content {
    position: relative;
}

.tabla-personal__tooltip {
    position: absolute;
    top: -23px;
    left: 250px;
}

.tabla-personal__subtitle {
    color: var(--tipografa);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.tabla-personal__header-right {
    display: flex;
    transform: translateY(15px);
    position: relative;
    z-index: 99;
}

.tabla-personal__search {
    width: 260px;
    gap: 0;
}

.tabla-personal__contain-table {
    width: 100%;
    height: calc(100vh - 380px);
    overflow: auto;
    position: relative;
    border-radius: 15px;
}

.tabla-personal__wrap-table tr > td:first-child {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}

.tabla-personal__cell-name {
    width: 100%;
    display: grid;
    grid-template-columns: 38px 1fr;
    column-gap: 16px;
    align-items: center;
}

.tabla-personal__cell-name__foto {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(269.49deg, #f5f1ff, #faf8ff 97.56%);
}

.tabla-personal__cell-name__foto img {
    clip-path: circle(50%);
    object-fit: cover;
    color: transparent;
}

.tabla-personal__cell-name__label {
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.tabla-personal__cell-detail {
    display: flex;
    flex-direction: column;
}

.tabla-personal__cell-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabla-personal__empty {
    height: 100%;
    width: 100%;
}

.tabla-personal__contain-table::after {
    display: none;
}

.tabla-personal__contain-table.tabla-personal__contain-table--show-gradient::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
    border-radius: 10px;
}