.reservas-screen__room-tabs {
    margin-bottom: 30px;
    height: calc(100vh - 200px);
    overflow-y: auto;
}
.reservas-screen__drawer__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.reservas-screen__drawer__header > span {
    color: var(--white);
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.reservas-screen__drawer__room {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 100%;
    animation: select-animation2 0.5s none ease;
}
.reservas-screen__room__drawer__button {
    width: 100%;
    position: sticky;
    margin-top: 10px;
    bottom: 24px;
}
@keyframes select-animation2 {
    from {
        opacity: 0.5;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.reservas-screen__drawer__detail {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px; 
    margin-bottom: 18px;
}