.input-currency__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    gap: 6px;
    border-bottom: 1px solid var(--gray-disabled);
    padding-bottom: 7px;
}

.input-currency__semicontainer {
    position: relative;
}

.input-currency__label {
    max-width: 320px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--blue-slate);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-currency__wrapper {
    position: relative;
    display: flex;
    left: 0;
    align-items: center;
    width: 320px;
    border-radius: 8px;
}

.input-currency {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    outline: none;
    gap: 8px;
    font-size: 16px;
    max-width: 210px;
    height: 44px;
    color: var(--deep-blue);
    background: var(--white);
    border: solid var(--light-blueish-gray);
    border-width: 1px 0px 1px 1px;
    border-radius: 8px 0px 0px 8px;
}

.input-currency:focus::placeholder {
    color: var(--placeholder);
}

.input-currency__prefix {
    width: 95px;
    border-width: 1px 0px 1px 1px;
    border-radius: 8px 0px 0px 8px;
}

.input-currency--error {
    border: 1px solid var(--pink-coral);
}

.input-currency__icon {
    position: absolute;
    color: var(--midnight-blue);
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-currency__icon--helper {
    left: 100%;
    margin-left: 15px;
}

.input-currency__hint {
    font-size: 10px;
    color: var(--midnight-blue);
}

.input-currency__hint--error {
    color: var(--red-danger);
}
