.last-row__resumen-turno {
    background: #f9fafb;
    width: 100%;
    height: 100%;
}
.last-row__resumen-turno__text {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
}
.last-row__resumen-turno__text--bold {
    color: var(--Morado-Morado-Primario, #6941c6);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
}
