.reservas-cancel-modal {
    height: 90% !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.reservas-cancel-modal__title {
    font-size: 28px;
    margin: 0;
}
.reservas-cancel-modal__code {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 25px;
}
.reservas-cancel-modal__form {
    width: 100%;
    padding: 0 80px;
    box-sizing: border-box;
}
.reservas-cancel-modal__select {
    width: 100%;
    margin-bottom: 20px;
}
.reservas-cancel-modal__button {
    height: 50px;
    width: 100%;
}
.reservas-cancel-modal__input {
    width: 200px;
}
.reservas-cancel-modal .security-code-input__container {
    justify-content: start;
    row-gap: 12px;
    margin-bottom: 30px;
}
.reservas-cancel-modal .input-currency__container {
    width: 200px;
    overflow-x: hidden;
}
.reservas-cancel-modal__row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}
.reservas-cancel-modal__label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue-slate);
    margin-bottom: 12px;
}
.reservas-cancel-c-modal {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reservas-cancel-c-modal__circle {
    height: 48px;
    width: 48px;
    background-color: #e2e7f0;
    border-radius: 50%;
    margin-bottom: 15px;
}
.reservas-cancel-c-modal__title {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}
.reservas-cancel-c-modal__text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--midnight-blue);
}
