.modal__cancelar-renta-reserva {
    width: 572px;
    height: 520px;
    box-sizing: border-box;
    padding: 30px 30px 16px;
}
.modal__cancelar-renta-reserva .modal__close {
    width: 24px;
    height: 24px;
    top: 30px;
    right: 30px;
}
.modal__cancelar-renta-reserva__text-area {
    width: 100%;
}
.modal__cancelar-renta-reserva__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
}
.modal__cancelar-renta-reserva__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__cancelar-renta-reserva__title {
    color: var(--tipografa);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 16px;
}
.modal__cancelar-renta-reserva__subtitle {
    color: var(--tipografa);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 16px;
}
.modal__cancelar-renta-reserva__card__input__wrapper {
    width: 100%;
    margin-bottom: 10px;
}
.modal__cancelar-renta-reserva__card__input {
    width: 100%;
}
.modal__cancelar-renta-reserva__row {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 270px;
    column-gap: 50px;
    margin-bottom: 10px;
}
.modal__cancelar-renta-reserva__input-verification {
    width: 100%;
}
