.form_inventory_value-display {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form_inventory_value-display__title {
    color: var(--Input-tag, #606060);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
}

.form_inventory_value-display__value {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 83.333% */
}
