.propinas__close-modal {
    width: 570px;
    height: 270px;
    padding: 24px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.propinas__close-modal .modal__close {
    height: 44px;
    width: 44px;
}
.propinas__close-modal__icon__contain {
    height: 40px;
    width: 40px;
    background-color: #fef3f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.propinas__close-modal__icon {
    height: 30px;
    width: 30px;
    background-color: var(--pink-ocupado-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.propinas__close-modal__icon span {
    height: 20px;
    width: 20px;
    background-color: var(--pink-ocupado);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    color: var(--pink-ocupado-light);
}
.propinas__close-modal__title {
    color: var(--tipografa);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 8px;
}
.propinas__close-modal__text {
    color: var(--placeholder);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}
.propinas__close-modal__buttons {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    padding-top: 24px;
}
.propinas__close-modal__btn {
    height: 40px;
    width: 100%;
}