.fajilla__table-column__status {
    border-radius: 16px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px 2px 6px;
    gap: 4px;

    &.creada {
        background-color: var(--green-card-available);
    }

    &.recibida {
        background-color: var(--green-card-available);
    }

    &.pendiente {
        background-color: var(--sucia-expirada);
    }

    &.rechazada {
        background-color: var(--ocupada-card-1);
    }

    &.recibir {
        cursor: pointer;
    }
    &.cancelada {
        background-color: var(--card-gray);
    }
    
}

.fajilla__table-column__status__label {
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    
    
    &.creada {
        color: var(--disponible);
    }

    &.recibida {
        color: var(--disponible);
    }

    &.pendiente {
        color: var(--cancelada);
    }

    &.rechazada {
        color: var(--pink-ocupado);
    }

    &.recibir {
        color: var(--primary);
        text-decoration: underline;
    }

    &.cancelada { 
        color: var(--icon-bloqueada)
    }
}


