.room-card--mxl__custom-slider {
    width: 164px;
    height: 26px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-card--mxl--slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 7px;
    outline: none;
    margin: 10px 0;
}

/* Cambia el color del track (barra) antes del pulgar */
.room-card--mxl--slider-input::-webkit-slider-runnable-track {
    background: transparent;
    height: 10px;
    border-radius: 7px;
}

/* Cambia el color del track (barra) después del pulgar */
.room-card--mxl--slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28.427px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 0 7px 7px 0;
    background: url("./icons/ArrowLeft.svg") center center no-repeat;
    background-color: var(--header-dark);
    cursor: pointer;
}

.room-card--mxl__footer__slider__text {
    color: var(--Header, #0e0e0e);
    text-align: center;
    font-family: Qualy;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.room-card--mxl__footer__slider__text--dark__wrapper {
    background-color: var(--header-dark);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 100%;
    overflow: hidden;

    border-radius: 7px 0 0 7px;
}

.room-card--mxl__footer__slider__text--dark {
    color: var(--white);
    text-align: center;
    font-family: Qualy;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
