.inventarios__carousel {
    position: relative;
    width: auto;
    height: 680px;
    overflow: hidden;
    margin: 0 auto;
}

.inventarios__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.inventarios__slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.inventarios__indicators {
    position: absolute;
    bottom: 34px;
    right: 215px;
    transform: translateX(-50%);
}

.inventarios__dot {
    height: 16px;
    width: 16px;
    margin: 0 9px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.inventarios__dot.active {
    background-color: #6941c6;
}
