.venta-habitacion__payments__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.venta-habitacion__payments__divider {
    display: flex;
}

.venta-habitacion__payments__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.venta-habitacion__payments__method {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.venta-habitacion__payments__method__label {
    color: var(--Placeholder, var(--Placeholder, #667085));
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.venta-habitacion__payments__edit {
    color: var(--Morado-Morado-Primario, #6941c6);
    text-align: right;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    text-decoration-line: underline;

    cursor: pointer;
}
