.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    position: fixed;
    z-index: 1;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: #10182880;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.2s;
}

.modal.open {
    display: none;
}

.modal__content {
    border: 1px solid var(--white);
    background: linear-gradient(117deg, #f9f9f9 -38.52%, #fbfbfd 143.35%);
    border-radius: 10px;
    position: relative;
}

.modal__back {
    text-align: center;
    position: absolute;
    left: 23px;
    top: 23px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: var(--top);
}

.modal__close {
    text-align: right;
    position: absolute;
    right: 23px;
    top: 23px;
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: var(--top);
}
