.pago-propinas__screen {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}
.pago-propinas__screen .screen__head {
    align-items: flex-start;
}

.pago-propinas__wrapper {
    height: calc(100vh - 165.5px);
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 23px;
    overflow: hidden;
}
