.corte-ticket-skeleton-title {
    font-size: 20px;
    font-weight: 600;
}

.corte-ticket-skeleton-subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.corte-ticket-skeleton-section {
    margin-top: 23px;
    padding-bottom: 29px;
    border-bottom: 1px solid #EFEFEF;
}

.corte-ticket-skeleton-circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-right: 15px;

}

.corte-ticket-skeleton-circle .skeleton-item-base {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.corte-ticket-skeleton-title {
    width: 180px;
    height: 14px;
    border-radius: 8px;

    .skeleton-item-base {
        width: 180px;
        height: 14px;
        border-radius: 8px;
    }
}

.corte-ticket-skeleton-element {
    width: 133px;
    height: 14px;
    border-radius: 8px;
    margin-top: 12px;

    .skeleton-item-base {
        width: 133px;
        height: 14px;
        border-radius: 8px;
    }
}

.corte-ticket-skeleton-container {
    display: flex;
}