.detalle-compra {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.detalle-compra .screen__head {
    align-items: flex-start;
}

.detalle-compra__left {
    overflow-y: scroll;
    height: calc(100dvh - 155px);
}

.detalle-compra__content {
    height: auto;
}

.detalle-compra__content-subtitle {
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalle-compra__content-subtitle span {
    color: var(--placeholder);

}
.detalle-compra__form {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 35px;
    box-sizing: border-box;
    padding-top: 10px;
}

.detalle-compra__section {
    margin-bottom: 40px;
}

.detalle-compra__section-head {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 0.5px solid var(--stroke);
}

.detalle-compra__section-type-inputs {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 225px 1fr;
    column-gap: 20px;
}

.detalle-compra__tabs-content {
    width: 300px;
}

.detalle-compra__tabs-content .input-tab {
    height: 40px;
    box-sizing: border-box;
}

.detalle-compra__input-text .input-text__container {
    position: relative;
    gap: 0;
}

.detalle-compra__input-text .input-text {
    width: 100%;
}

.detalle-compra__input-text .input-text__label {
    margin-bottom: 6px;
}

.detalle-compra__input-text .input-text__hint {
    position: absolute;
    bottom: -20.5px;
}

.detalle-compra__search {
    position: relative;
}

.detalle-compra__search-box {
    width: 100%;
    height: auto;
    max-height: 210px;
    box-sizing: border-box;
    padding: 0 6px;
    overflow: hidden auto;
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    position: absolute;
    top: calc(100% + 20px);
    z-index: 10;
}

.detalle-compra__select {
    width: 100%;
    box-sizing: border-box;
}

.detalle-compra__select-rooms {
    width: 100%;
    box-sizing: border-box;
}

.detalle-compra__select-rooms-container {
    position: relative;
    margin-bottom: 0;
}

.detalle-compra__select-rooms-container .dropdown-component-subtitle {
    position: absolute;
    bottom: -18px;
}

.detalle-compra__select-rooms .dropdown-cont svg {
    height: 18px;
    width: 18px;
    min-width: 18px;
    margin-bottom: 5px;
}

.detalle-compra__search-item {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--tipografa);
    cursor: pointer;
    position: relative;
}

.detalle-compra__search-item:hover {
    background-color: var(--purple-secondary);
}

.detalle-compra__search-item--active {
    background-color: var(--purple-secondary);
}

.detalle-compra__search-item-icon {
    position: absolute;
    right: 5px;
}

.detalle-compra__table {
    margin: 16px 0 0;
    width: 100%;
    height: 170px;
    overflow: hidden;
    box-sizing: border-box;
}

.detalle-compra__table-edit {
    height: calc(100vh - 253px);
}

.detalle-compra__table-head {
    height: 44px;
    box-sizing: border-box;
    background-color: var(--pale-white);
    border-bottom: 0.5px solid var(--gray-cell-header);
}

.detalle-compra__table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr 140px 200px 110px 112px;
}

.detalle-compra__table-title {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary);
    font-family: "Roboto";
}

.detalle-compra__table-content {
    height: calc(100% - 40px);
    overflow-y: auto;
    width: 100%;
    background-color: var(--white);
}

.detalle-compra__table-cell {
    display: flex;
    align-items: center;
    color: var(--tipografa);
    padding: 0 24px;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    box-sizing: border-box;
}

.detalle-compra__table-cell-name {
    width: 100%;
}

.detalle-compra__table-cell-comment {
    color: var(--tipografa);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

.detalle-compra__table-cell-comment svg {
    margin-right: 5px;
}

.detalle-compra__input-number {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid var(--header);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    color: var(--tipografa);
    letter-spacing: -0.16px;
    text-align: right;
}

.detalle-compra__input-number:focus {
    outline: none;
}

.detalle-compra__input-number-contain {
    position: relative;
}

.detalle-compra__input-number__error {
    position: absolute;
    font-size: 10px;
    font-weight: 500;
    color: var(--pink-ocupado);
    left: 0;
    bottom: -14px;
}

.detalle-compra__table-cell-input {
    overflow: inherit;
}

.detalle-compra__table-cell-remove {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: auto;
}

.detalle-compra__inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin: 16px 0 40px;
}

.detalle-compra__ticket {
    width: 100%;
    min-height: 350px;
    height: calc(100vh - 140px);
    transform: translateY(-50px);
    position: relative;
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
}

.detalle-compra__ticket .ticket__title {
    font-size: 16px;
}

.detalle-compra__ticket .ticket__content {
    height: calc(100% - 100px);
    padding: 0;
    margin-bottom: 16px;
}

.detalle-compra__ticket-item {
    width: 100%;
}

.detalle-compra__ticket-item__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 12px;
    color: var(--tipografa);
    font-weight: 600;
    line-height: 140%;
}
.detalle-compra__ticket-item__title {
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detalle-compra__ticket-item__content {
    width: 100%;
    box-sizing: border-box;
    padding-left: 18px;
}
.detalle-compra__ticket-item__extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: var(--placeholder);
}

.detalle-compra__ticket-item__content span {
    color: var(--placeholder);
    font-size: 12px;
    font-weight: 400;
}

.detalle-compra__ticket__block {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    height: 100%;
    width: 100%;
    min-height: calc(50% - 20px);
    overflow-y: auto;
    padding: 0 24px;
    box-sizing: border-box;
    border-bottom: none;
    margin-bottom: 20px;
}

.detalle-compra__ticket__subtotal {
    height: calc(100% - 42px);
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    box-sizing: border-box;
    padding: 0 24px;
    margin: 0 0 12px;
    border-bottom: 0;
}

.detalle-compra__ticket__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--tipografa);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
    font-weight: 700;
    padding: 0 24px;
}
.detalle-compra__ticket .ticket__footer {
    padding: 16px 24px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05) inset;
}
.detalle-compra__select__link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--purple-drawer-primario);
    cursor: pointer;
    margin-top: 32px;
}

.detalle-compra__ticket__category {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.detalle-compra__ticket__payments {
    margin-top: auto;
    border-bottom: 0;
    padding: 16px 0 6px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.detalle-compra__ticket__currency {
    height: auto;
    max-height: 50%;
}

.detalle-compra__ticket__tax {
    color: var(--placeholder);
    font-weight: 500;
}
.detalle-compra__consultar-saldo {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
    height: 28px;
    grid-column: 3 / 4; 
    align-self: start; 
}

.detalle-compra__consultar-saldo__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration: underline;
    color: #6941C6;
    cursor: pointer;
    transition: color 0.3s ease;
    white-space: nowrap; 
}

.detalle-compra__consultar-saldo__link:hover {
    color: #502b8c; 
}
