.header-suggestions__checkbox {
    width: 13px;
    height: 13px;
    margin: 2.5px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--placeholder);
}

.header-suggestions__checkbox:hover {
    border-color: var(--primary);
}