.incidence-item__title {
    color: var(--Estilo-Tipografia, #303030);

    /* Link - 16 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.incidence-item__counter {
    color: var(--Habitaciones-Ocupada-1, #eb5757);

    /* H1 - 36 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
}
.incidence-item__subtitle {
    color: var(--Estilo-Placeholder, #667085);
    text-align: center;

    /* Link - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.incidence-item__value {
    color: var(--Estilo-Tipografia, #303030);
    text-align: right;

    /* Link - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.incidence-item__label {
    color: var(--Estilo-Tipografia, #303030);

    /* Body - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
