.orden--pagada__drawer__title {
    margin: 20px 0 4px;
    color: var(--white);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.orden--pagada__drawer__subtitle {
    margin: 0 0 30px;
    color: var(--white);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.orden--pagada__drawer__container {
    overflow-y: scroll;
}
.orden--pagada__drawer__header-label {
    margin-bottom: 12px;
}
.orden--pagada__line {
    height: 1px;
    opacity: 0.5;
    background: #efefef;
}
.orden--pagada__drawer__container-payments, .orden--pagada__drawer__container-products {
    margin-top: 26px;
}
.orden--pagada__drawer__container__bottom {
    width: 100%;
}
.orden--pagada__drawer__button{
    width: 100%;
}
.orden--pagada__drawer__payment-impuestos {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.orden--pagada__drawer__payment-total {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.2px;
}
.orden--pagada__margin-top {
    margin-top: 12px;
}
.orden--pagada__description__text__two-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.orden--pagada__drawer__timer-card {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(50px);
    padding: 15px 24px 25px;
    margin-bottom: 26px;
}

.orden--pagada__drawer__container__text__two-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;
}

.orden--pagada__drawer__container__title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}

.orden--pagada__drawer__container-products {
    margin-bottom: 12px;
}