.flex-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.flex-carousel__content {
    width: 100%;
}

.flex-carousel__pages {
    display: flex;
    column-gap: 10px;

    &.inner {
        position: absolute;
        bottom: 15px;
    }
}

.flex-carousel__page {
    cursor: pointer;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;

    &.active {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slideInFromRight 0.5s ease-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInFromLeft 0.5s ease-out forwards;
}
