.registro-energeticos__title {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.981px; /* 116.563% */
}

.registro-energeticos__subtitle {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.984px; /* 128.457% */
}

.registro-energeticos__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
}

.registro-energeticos__button {
    width: 100%;
}
