.inventory-card__footer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 12px;
}

.inventory-card__footer__button {
    width: 90px;
    height: 40px;
}

.inventory-card__footer__units__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.inventory-card__footer__units {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
}

.inventory-card__footer__units__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-card__footer__units__label {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
}

.inventory-card__footer__units--alert {
    color: var(--cancelada);
}

.inventory-card__footer__units--success {
    color: var(--disponible);
}

.inventory-card__footer__units--danger {
    color: var(--timer-ocupada);
}
