.modal__transfer-product__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20.98px;
    margin: 16px 0 2px;
}

.modal__transfer-product__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

.modal__refill-inputs .input-measurement__container {
    width: 100%;

    .input-measurement__wrapper {
        width: 545px;
    }
}