.cancelacion-productos {
    padding: 0;
}

.cancelacion-productos .screen__head {
    align-items: flex-start;
}

.cancelacion-productos .screen__close {
    margin-top: 10px;
}

.cancelacion-productos__content {
    height: calc(100% - 116px);
}

.cancelacion-productos__form {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 375px;
    column-gap: 35px;
    box-sizing: border-box;
    padding-top: 30px;
}

.cancelacion-productos__right {
    margin-top: -50px;
}

.cancelacion-productos__section {
    margin-bottom: 30px;
}

.cancelacion-productos__section__title {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 12px;
    box-sizing: border-box;
    border-bottom: 0.5px solid var(--stroke);
    margin-bottom: 30px;
}

.cancelacion-productos__subtitle {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
}

.cancelacion-productos__ticket {
    width: 100%;
    height: calc(100vh - 140px);
    position: relative;
    padding: 20px 0 0;
}

.cancelacion-productos__table .flexible-table-container {
    max-height: 450px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid var(--gray-background);
}

.cancelacion-productos__table th:nth-child(5),
.cancelacion-productos__table th:nth-child(6) {
    width: 180px;
    max-width: 180px;
}

.cancelacion-productos__dropdown {
    max-width: 440px;
}

.cancelacion-productos__ticket__item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 20px;
}

.cancelacion-productos__ticket__item-name {
    color: var(--placeholder);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.cancelacion-productos__ticket__item-total {
    color: var(--tipografa);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.cancelacion-productos__ticket__block {
    grid-auto-rows: 10px;
    border-bottom: none;
}

.cancelacion-productos__line {
    height: 1px;
    opacity: 1;
    background: #e2e7f0;
    margin-top: 20px;
}

.cancelacion-productos__cell__row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cancelacion-productos__cell-comment {
    color: var(--tipografa);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

.cancelacion-productos__ticket__item-product {
    display: flex;
    align-items: center;
}

.cancelacion-productos__ticket__item-product svg {
    margin-right: 18px;
}

.cancelacion-productos__ticket__item__cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.cancelacion-productos__ticket__item__number {
    color: var(--header);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;

}

.cancelacion-productos__ticket__products {
    margin-top: 30px;
}

.cancelacion-productos__ticket__item-product__content {
    margin-bottom: 20px;
}

.cancelacion-productos__ticket__block-total {
    border-bottom: none;
}

.cancelacion-productos__text-box {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding-top: 7px;
    min-width: 460px;
}

.cancelacion-productos__section_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px
}

@media screen and (max-width: 1300px) {
    .cancelacion-productos {
        padding: 0;
    }

    .cancelacion-productos__form {
        grid-template-columns: 1fr 305px;
        column-gap: 35px;
    }
}
.cancelacion-productos__invalido {
  color: var(--red-danger);
}
