.input-password__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.input-password__label {
    width: 36px;
    height: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--blue-slate);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input-password__wrapper {
    position: relative;
    display: inline-block;
}

.input-password {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    font-size: 16px;
    width: 320px;
    height: 44px;
    background: var(--white);
    border: 1px solid var(--light-blueish-gray);
    box-shadow: 0px 1px 2px var(--transparent-dark);
    border-radius: 8px;
}

.input-password--error {
    border: 1px solid var(--pink-coral);
}

.input-password__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-password__hint {
    font-size: 10px;
}

.input-password__hint--error {
    color: var(--red-danger);
}
