.room-card--xl__container {
    display: flex;
    align-items: center;
    margin: 5px;
    height: fit-content;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 266px;
    height: 242px;
}
.room-card--xl__container-select {
    display: flex;
    align-items: center;
    margin: 5px;
    height: fit-content;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 2px solid #7A83A0;
    width: 266px;
    height: 242px;
}

