.cut__list__item__title {
    color: var(--Estilo-Tipografia, #303030);

    /* Link - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}
.cut__list__item__value {
    color: var(--Estilo-Tipografia, #303030);

    /* Body - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
