/* Hide the default checkcircle */
.check-circle input {
    display: none;
}

.check-circle {
    display: block;
    position: relative;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.check-circle__checkmark--disabled {
    position: relative;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: var(--gray-disabled);
    border-radius: 50%;
    transition: all 0.25s;
}

/* Create a custom checkcircle */
.check-circle__checkmark {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #2196f300;
    border-radius: 50%;
    transition: all 0.25s;
}

.check-circle__checkmark:hover:after {
    border: 1px solid var(--deep-purple);
    background-color: var(--pale-lilac);
}

.check-circle input:checked ~ .check-circle__checkmark:hover:after {
    background-color: transparent;
}

.check-circle input:checked ~ .check-circle__checkmark {
    background-color: var(--purple-drawer-primario);
}

/* Create the check-circle__checkmark/indicator (hidden when not checked) */
.check-circle__checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 1px solid var(--light-blueish-gray);
    left: 0;
    top: 0;
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    transition: all 0.25s, border-width 0.1s;
}

.check-circle__checkmark--focus {
    box-shadow: 0px 0px 0px 4px var(--pale-lilac);
}

.check-circle input.check-circle__checkmark--unchecked:after {
    left: 0.35em;
    top: 0.15em;
    width: 0.17em;
    height: 0.45em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.14em 0.14em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.check-circle__checkmark:focus {
    box-shadow: 0px 0px 0px 4px var(--pale-lilac);
}

/* Show the check-circle__checkmark when checked */
.check-circle input:checked ~ .check-circle__checkmark:after {
    left: 0.35em;
    top: 0.15em;
    width: 0.17em;
    height: 0.45em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.14em 0.14em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.check-circle__checkmark--disabled:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 1px solid var(--light-blueish-gray);
    left: 0;
    top: 0;
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    transition: all 0.25s, border-width 0.1s;
}

.check-circle__checkmark--disabled.check-circle__checkmark--unchecked:after {
    position: absolute;
    left: 0.35em;
    cursor: not-allowed;
    border: 1px solid var(--light-blueish-gray);
    top: 0.15em;
    width: 0.17em;
    height: 0.45em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.14em 0.14em 0;
    border-radius: 0em;
    transform: rotate(45deg);
}

.check-circle__checkmark--disabled.check-circle__checkmark--unchecked {
    background-color: var(--light-blueish-gray);
}
