.room-card--md-header {
    padding-left: 9px;
    padding-right: 13px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.room-card--md-header__left__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}


.room-card--md-header__icon-wrapper {
    height: 28px;
    width: 28px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-dark-gray);
}

.room-card--md-header__left__order-timer {
    color: var(--Timer-Ocupada, #dc3737);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 8px */
    letter-spacing: -0.08px;
}

.room-card--md-header__title {
    color: var(--wf-base-900, #1a202c);
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.12px;

    width: 100px;
    display: flex;
    flex-direction: column;
}

.room-card--md-room-name {
    /* Activar los tres puntos al sobresalirse el texto, necesario definir un ancho a su elemento contenedor */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--tipografa, #303030);
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.room-card--md-room-number {
    color: var(--tipografa, #303030);
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.room-card--md-header__timeout {
    position: absolute;
    left: -4px;
    top: -15px;
}
