.form-section__inventory__wrapper {
    display: flex;
    width: 100%;
    height: calc(100dvh - 130px);
    overflow: auto;
    column-gap: 51px;
    margin-top: 30px;
}

.form-section__inventory__section__image {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.form-section__inventory__section {
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}