.input-date-modal__week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas de tamaño igual */
    align-items: center;
    height: 35px;
}

.input-date-modal__week-days__label {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36.376px; /* 181.88% */
}

.input-date-modal__week-days__divider {
    background-color: var(--gray-background);
    height: 1px;
    width: 100%;
}
