.orden--restaurante {
    height: 100%;
    width: 100%;
    display: flex;
  flex-direction: column;
}
.orden--restaurante .drawer-accordion {
    margin: 8px 0 15px;
}
.orden--restaurante__contain {
    width: 100%;
  flex: 1;
  overflow-y: auto;
    
}
.orden--restaurante__contain-short {
    height: calc(100% - 320px);
}
.orden--restaurante__subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.orden--restaurante__subtotal span {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;
}
