.daily-income__header__title {
    color: var(--Componente-Header, #0e0e0e);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
