.venta-habitacion__custom-slider {
    width: calc(100% - 60px);
    height: 40px;
    flex-shrink: 0;
    background: var(--fondo-close);
    border-radius: 8px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Morado-Morado-Primario, #6941C6);

}

.venta-habitacion__slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: transparent;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}

/* Cambia el color del track (barra) antes del pulgar */
.venta-habitacion__slider-input::-webkit-slider-runnable-track {
    background: transparent;
    height: 10px;
    border-radius: 5px;
}

/* Cambia el color del track (barra) después del pulgar */
.venta-habitacion__slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 0 10px 10px 0;
    background: url("./icons/ArrowLeft.svg") center center no-repeat;
    background-color: var(--morado---morado---primario);
    cursor: pointer;
}

.venta-habitacion__footer__slider__text {
    color: var(--Morado-Morado-Primario, #6941c6);
    text-align: center;
    font-family: Qualy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;

    margin-left: 40px;
}

.venta-habitacion__footer__slider__text--dark__wrapper {
    background-color: var(--morado---morado---primario);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    overflow: hidden;

    border-radius: 8px 0 0 8px;
}

.venta-habitacion__footer__slider__text--dark {
    color: var(--white);
    font-family: Qualy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}
