.date-picker-container {
    .input-text {
        width: 384px;
        height: 40px;
        font-size: 12px;
    }
}

.date-picker-calender {
    border: 0.72px solid #f2f4f7;
    box-shadow: 0px 20px 24px -4px #10182814;
    background-color: #ffffff;

    width: 383px;
    height: 498px;
    border-radius: 7.48px;

    margin-top: 20px;
    justify-content: normal;

    .input-date-modal__month-label {
        font-size: 14px;
    }

    .input-date-modal__paginator {
        width: 340px;
        height: auto;
        margin: 18px 22px 20px;
    }

    .input-date-modal__week-days__label {
        font-size: 14px;
    }

    .day__item__wrapper {
        width: 48px;
    }

    .input-date-modal__paginator__divider,
    .input-date-modal__week-days__divider,
    .input-date-modal__week-days,
    .input-date-modal__month-days {
        margin: 0 22px;
        width: 340px;
    }

    .icon-border-center svg {
        width: 8px;
    }

    .input-date-modal__week-days {
        height: 50px;
    }

    .input-date-modal__week-days__divider {
        margin-bottom: 10px;
    }
}
.date-picker-calender__skeleton {
    padding: 20px 24px 0;
    box-sizing: border-box;
}
.date-picker-calender__skeleton-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.date-picker-calender__skeleton-circle {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}
.date-picker-calender__skeleton-title {
    width: 111px !important;
    height: 14px !important;
}
.date-picker-calender__skeleton-content {
    width: 100%;
    display: grid;
    row-gap: 15px;
}
.date-picker-calender__skeleton-content .skeleton-item-base {
    height: 40px !important;
    width: 100% !important;
}
