.asignacion__reservaciones__drawer__tab__title {
    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    margin: 5px 0 10px;
}
.asignacion__reservaciones__drawer__tab__pay__top {
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
}
.asignacion__reservaciones__drawer__tab__pay {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    height: 100%;
}
.asignacion__reservaciones__drawer__tab__pay__info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.asignacion__reservaciones__drawer__tab__pay__total {
    padding-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    animation: select-animation2 0.5s none ease;
}
.asignacion__reservaciones__drawer__tab__pay__total__divider {
    height: 1px;
    width: 100%;
    background-color: #f2f4f7;
}
.asignacion__reservaciones__drawer__tab-modal-add-pago {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.asignacion__reservaciones__drawer__tab-pay__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 0;
    align-items: flex-end;
}
.asignacion__reservaciones__drawer__tab-pay__total {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
}
.asignacion__reservaciones__drawer__tab-pay__total__label {
    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.asignacion__reservaciones__drawer__tab-pay__total__value {
    color: var(--Blanco, #fff);
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
.asignacion__reservaciones__drawer__tab-pay__card__label {
    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    margin-left: 4px;
}
.asignacion__reservaciones__drawer__tab-pay__card__value {
    color: var(--Blanco, #fff);
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

@keyframes select-animation2 {
    from {
        opacity: 0.5;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
