.modal--confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(10, 18, 28, 0.5);
    top: 0;
    left: 0;
}
.modal--confirm.open {
    display: none;
}

.modal--confirm__content {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
    padding: 0;
    background: var(--white);
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.modal--confirm__header {
    text-align: left;
    padding: 24px 35px 0px;
    height: fit-content;
}

.modal--confirm__title {
    height: 28px;
    font-style: normal;
    display: block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--tipografa);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.modal--confirm__body {
    height: fit-content;
    width: 100%;
    margin: 20px 0;
}

.modal--confirm__description {
    margin: 0px 35px;
    margin-bottom: 5px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--placeholder);
    flex: none;
    align-self: stretch;
}

.modal--confirm__icon {
    width: 48px;
    height: 48px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.modal--confirm__icon-button--danger {
    background: #fee4e2;
    border: 8px solid #fef3f2;
}

.modal--confirm__icon-button--success {
    background: #dbf6d4;
    border: 8px solid #ecfdf3;
}

.modal--confirm__divider {
    position: relative;
    left: -17px;
    width: calc(100% + 34px);
    height: 1px;
    background: var(--light-gray);
}

.modal--confirm__footer {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    flex: 1;
    margin: 0 20px;
    height: 55px;
}

.modal--confirm__footer__button {
    display: flex;
    flex: 1;
    height: 40px;
}

.delete_categoria_modal {
    padding: 0;
    width: 600px;
    height: fit-content;

    .modal--confirm__title {
        margin-top: 16px;
        margin-bottom: 28px;
        font-size: 26px;
    }
    .modal--confirm__description {
        width: 95%;
        font-size: 18px;
    }
    .modal--confirm__header {
        padding-bottom: 36px;
    }
    .modal--confirm__footer {
        width: 100%;
        height: fit-content;
        margin: 24px 0;
    }

    .button--secondary, .button--primary {
        width: 250px;
        height: 60px;
    }
}