.icon-header {
  width: 160px;
  height: 160px;
  background:  #EFE9FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-header__icon {
    height: 90px;
    width: 90px;
}
.icon-header__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
