.hotels__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10dvh;
    box-sizing: border-box;
}
.hotels__empty-img {
    height: 200px;
}
.hotels__empty-img img {
    height: 200px;
}
.hotels__empty-title {
    color: var(--tipografa);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
    margin-bottom: 20px;
    text-align: center;
}
