.reservas-screen__btn {
    width: 52px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    border-radius: 11.571px;
    border: 1px solid var(--primary);
    background: var(--primary-variant2);
    /* sombra cards */
    transition: all 0.4s;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
}
.reservas-screen__btn > svg {
    width: 22px;
    height: 22px;
}
.reservas-screen__btn--disabled {
    border: none;
    background-color: #fff;
    transition: all 0.4s;
}
.reservas-screen__input {
    width: 415px;
    margin-right: 20px;
}
