.detalle-h-view {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.detalle-h-view__head {
    margin-bottom: 20px;
}
.detalle-h-view__head__space {
    margin-bottom: 30px;
}
.detalle-h-view__title {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: keep-all;
    max-width: 18ch;
}
.detalle-h-view__subtitle {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.detalle-h-view-list {
    padding-top: 50px;
}
.detalle-h-view-list .detalle-h-view__subtitle {
    margin-top: 20px;
}
