.room-card--sm--supervision-pending__timer {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */
}

.room-card--sm--supervision__pending__timer--timeout {
    color: var(--card-limpieza-1);
    text-align: center;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 18px */
}

.room-card--sm--supervision-pending__description {
    color: var(--Tipografa, #303030);
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
