.room-to-maintenance__cols {
    display: flex;
    justify-content: space-between;
}

.room-to-maintenance__cols__label {
    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.room-to-maintenance__tabs {
    margin-top: 20px; 
    max-height:  calc(100dvh - 230px); 
    overflow: auto;
}