.table__header__cell {
    background: var(--gray-50, #f9fafb);
    border-bottom: 1px solid var(--wf-base-400, #cbd2e0);
    gap: 12px;
    height: 44px;
    margin: 0;
    padding: 12px 24px;
}

.table__header__cell--pointer {
    cursor: pointer;
}
