.venta-habitacion__form-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.venta-habitacion__form-section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.venta-habitacion__form-section-icon {
    transition: transform 0.3s;
}

/* Estilo cuando el acordeón está abierto */
.venta-habitacion__form-section-icon.open {
    transform: rotate(180deg);
}

.venta-habitacion__form-section__title {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.venta-habitacion__form-section__divider {
    width: 100%;
    height: 1px;
    background-color: var(--stroke);
    margin: 16px 0;
}

.venta-habitacion__form-section__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}