.adminPersonal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addPerson__form__inputs-group__fill.input-container + .input-text__container {
    width: 33%;
}

.addPerson__form__inputs-group__row.input-container + .input-text__container {
    width: 100%;
}

form.addPerson {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 98%;
    overflow-y: auto;
    height: 84vh;
}

.addPerson__form__inputs-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.inputAddress {
    grid-column: 2 span;
}

.addPerson__formcontainer {
    display: flex;
    flex-direction: column;
    width: 98%;
}

.drawerPersonal-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    gap: 10px;
    justify-content: flex-start;
}

.addPerson__form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.addPerson__form__inputs-group__fill {
    display: grid;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: stretch;
    align-content: center;
}

.addPerson__form__title {
    margin: 20px 0;
    padding-bottom: 10px;
    color: var(--Tipografa);
    font-family: var(--font-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-bottom: 1px solid var(--stroke);
}

.addPerson__form__address__input {
    min-width: auto !important;
    max-width: none !important;
}

span.point {
    height: 5px;
    width: 5px;
    margin: 5px;
    border-radius: 50%;
}

.inactivo {
    background-color: var(--red-danger);
}

.activo {
    background-color: var(--green-online);
}

.container-cell {
    display: flex;
    align-items: center;
}

.inputImage__icon-edit {
    display: flex;
    position: absolute;
    height: 20px;
    margin-right: 11px;
    margin-bottom: -3px;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    background: var(--primary);
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.addPerson__form__title__input {
    min-width: 300px;
    max-width: 400px;
}

.addPerson__form__tel .input-tel__container {
    width: 100%;
    gap: 2px;
}

.addPerson__form__tel .input-tel__wrapper {
    width: 100%;
}

.addPerson__form__tel .input-tel__semicontainer {
    width: 100%;

    .input-tel__dropdown {
        height: 38px;
        font-size: 12px;
        padding-left: 10px;
    }

    .input-tel__dropdown__icon {
        width: 20px;
    }
}

.addPerson__form__tel .input-tel__label {
    font-size: 12px;
}

.addPerson__form__tel-input {
    width: calc(100% - 88px);
    max-width: none;
    font-size: 12px;
    height: 40px;
}

.addPersonFingerprint__buttonSubm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.buttonSubm {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.addPersonFingerprint__link__container {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
}

.addPersonFingerprint__link__action {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: var(--primary);
    cursor: pointer;
    margin-right: 5px;
}

.addPersonFingerprint__link__texto {
    margin-left: 5px;
    color: var(--primary);
}

.addPersonFingerprint__link__bold-text {
    font-weight: bold;
    color: var(--primary);
}

.addPersonFingerprint__link__tooltip {
    position: relative;
    max-width: 200px;
    max-width: 200px;
    padding: 8px;
    font-size: 12px;
}

.addPersonFingerprint__error {
    flex: 1;
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
    margin-top: -25px;
}

.addPersonFingerprint__error span {
    color: #eb5757;
    font-family: Montserrat, sans-serif;
}
.addPerson__supervisor {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 14px;
}
.addPerson__supervisor-check {
    padding-top: 2px;
    align-items: flex-start;
}
.addPerson__supervisor-check .checkbox {
    height: 20px;
    width: 20px;
}
.addPerson__supervisor-contain {
    display: flex;
    flex-direction: column;
}
.addPerson__supervisor-title {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.28px;
}
.addPerson__supervisor-description {
    color: var(--placeholder);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
    white-space: pre-wrap;
}
