.modal-cortes-impresion {
    padding-left: 40px;
    .icon-header__container {
        align-items: flex-start;
        .icon-header {
            width: 48px;
            height: 48px;
            .icon-header__icon {
                width: 24px;
                height: 24px;
            }
        }
    }
}
.modal-impresion-subtitle {
    color: #667085;
    font-size: 18px;
    font-weight: 400;
}
.modal-impresion-info-container {
    display: flex;
    margin-top: 20px;
}
.modal-impresion-info-card {
    display: flex;
    width: 50%;
}
.modal-impresion-info {
    margin-left: 15px;
}
.modal-impresion-info-label {
    color: #667085;
}
.modal-impresion-info-value {
    font-weight: 600;
    margin-top: 5px;
}
.modal-impresion-button {
    width: 100%;
    margin-top: 50px;
}