.room-card--xs--maintenance__timer {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%; /* 14px */
    max-width: 95px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.room-card--xs--maintenance__description {
    color: var(--Tipografa, #303030);
    text-align: right;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 90px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
