.custom-date-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.date-input-container {
  display: flex;
  align-items: center;
}

.calendar-icon {
  width: 20px; /* Ajusta el tamaño del icono según tus necesidades */
  height: 20px;
  margin-right: 8px; /* Espaciado entre el icono y el input */
}

.custom-date-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}
