.day__item__wrapper {
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    &.period {
        background-color: var(--fondo-close);
    }
    &.selected-right {
        background: linear-gradient(to right, var(--fondo-close) 50%, var(--white) 50%);
    }
    &.selected-left {
        background: linear-gradient(to left, var(--fondo-close) 50%, var(--white) 50%);
    }
    &.end-of-week {
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
    }
    &.start-of-week {
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
    }
}

.day__item__wrapper:hover {
    &.period {
        background-color: var(--Fondo-Fondo-base);
    }
}

.day__item {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &.selected {
        background-color: var(--purple-secondary);
    }
    &.disabled {
        cursor: not-allowed;
        pointer-events: unset;
    }
}

.day__item:hover {
    background-color: var(--Fondo-Fondo-base);
    &.selected {
        background-color: var(--fondo-close);
    }
    &.disabled {
        background-color: var(--white);
    }
}

.day__item__label {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    user-select: none; /* para todos los navegadores modernos */
    -webkit-user-select: none; /* para navegadores basados en WebKit */
    -moz-user-select: none; /* para Firefox */
    -ms-user-select: none; /* para Internet Explorer y Edge */

    &.disabled {
        color: var(--menu);
    }

    &.selected {
        color: var(--primary);
    }
}

.day__item__dot {
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--primary);

    &.disabled {
        background-color: var(--stroke);
    }
}
