.room-card--xl-header {
    display: flex;
    justify-content: space-between;
}

.room-card--xl-header__left__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.room-card--xl-header__icon--wrapper {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-card--xl-header__left__order-timer {
    color: var(--Timer-Ocupada, #dc3737);
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 12px */
}
.room-card--xl-header__timeout {
    position: absolute;
    left: 23px;
    top: -45px;
}

.room-card--xl-header__description {
    color: var(--tipografa, #303030);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
    position: relative;
    top: 40px;
    left: -57px;
}

.room-card--xl-header__timer {
    color: var(--tipografa, #303030);
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
    position: relative;
    top: 40px;
    left: -71px;
}

.room-card--xl-header__timeout-wrapper {
    border-radius: 25px;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 0px 4px;
    height: 16px;
    top: 44px;
    left: -73px;
}

.room-card--xl-header__name--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.room-card--xl-header__type-name {
    color: var(--tipografa, #303030);
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.room-card--xl-header__number {
    color: var(--tipografa, #303030);
    text-align: right;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 106.25% */
}

.gift-icon-wrapper {
    margin-top: -2px;
    display: flex;
    justify-content: flex-end;
}
