.product-card-skeleton-circle {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    .skeleton-item-base {
        width: 75px;
        height: 75px;
        border-radius: 100%;
    }
}

.product-card-skeleton-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 1px solid #F2F4F7;
    padding-bottom: 26px;
}

.product-card-skeleton-large, .product-card-skeleton-short, .element-ticket-skeleton-large, .element-ticket-skeleton-short {
    height: 14px;
    border-radius: 8px;
    .skeleton-item-base {
        height: 14px;
        border-radius: 8px;
    }
}

.product-card-skeleton-large {
    width: 207px;
    margin-top: 18px;
    .skeleton-item-base {
        width: 207px;
    }
}

.product-card-skeleton-short {
    width: 57px;
    margin: 8px 0 20px 0;
    .skeleton-item-base {
        width: 57px;
    }
}

.element-ticket-skeleton-circle-small {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    .skeleton-item-base {
        width: 16px;
        height: 16px;
        border-radius: 100%;
    }
}

.element-ticket-skeleton-large {
    width: 180px;
    margin-bottom: 11px;
    .skeleton-item-base {
        width: 180px;
    }
}

.element-ticket-skeleton-short {
    width: 133px;
    margin-bottom: 30px;
    .skeleton-item-base {
        width: 133px;
    }
}

.element-ticket-skeleton-circle-big {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    .skeleton-item-base {
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }
}

.element-ticket-skeleton {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}

.element-ticket-skeleton-middle {
    width: 80%;
}

.total-ticket-skeleton {
    margin: 20px 24px;
    display: flex;
    justify-content: space-between;
}

.total-ticket-skeleton-large {
    width: 145px;
    height: 20px;
    border-radius: 8px;
    .skeleton-item-base {
        width: 145px;
        height: 20px;
        border-radius: 8px;
    }
}

.total-ticket-skeleton-short {
    width: 70px;
    height: 20px;
    border-radius: 8px;
    .skeleton-item-base {
        width: 70px;
        height: 20px;
        border-radius: 8px;
    }
}