.home-screen__turno__wrapper {
    display: flex;
    flex-direction: column;
}

.home-screen__turno {
    color: var(--Tipografa, #303030);
    font-family: Qualy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-screen__hora {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}