.personalActivoEnTUrnoWit {
    display: flex;
    width: 100%;
    min-width: 258px;
    height: 216px;
    background: rgba(14, 14, 14, 0.8);
    border-radius: 18px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 17px;
    color: #fff;
    animation: opacity-animation 0.5s none ease;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
@keyframes opacity-animation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}
.personalActivoEnTUrnoWit__title {
    display: flex;
    color: #fff;
    font-family: var(--font-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.personalActivoEnTUrnoWit__title span {
    color: #fff;
    font-family: var(--font-text);
    font-family: "Qualy";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.personalActivoEnTUrnoWit__personl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.personalActivoEnTUrnoWit__personal__title {
    color: #fff;
    font-family: var(--font-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
