.add-sub-categoria-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    animation: zoom-in 0.3s ease-in-out;
    padding: 35px 40px 24px;
    height: fit-content;

    .icon-header__subtitle {
        font-weight: 600;
        margin-bottom: 40px;
    }
}
.add-sub-categoria-modal__form {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    width: 100%;
}
.add-sub-categoria-modal__button {
    width: 100%;
    margin-top: 40px;
}
