.modal-content__fingerprint-image {
    width: 120px;
    height: 120px;
    position: relative;
    top: 2.5px;
}

.modal-content__fingerprint-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modal-content__fingerprint-text.text-final-stage {
    color: var(--disponible);
}

.modal-content__fingerprint-error {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--error);
}