.room-card--xl-occupied-cleaning__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.room-card--xl-occupied-cleaning__icon--wrapper {
    background-color: var(--white);
    width: 40px;
    height: 40px;
    position: relative;
    top: -30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: -30px;
    overflow: hidden;
}

.room-card--xl-occupied-cleaning__icon--photo {
    width: 100%;
    height: 100%;
}

.room-card--xl-occupied-cleaning__name {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;

    max-width: 195px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.room-card--xl-occupied-cleaning__number {
    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
}

.room-card--xl-occupied-cleaning__progressbar-timer {
    color: var(--wf-base-900, #1a202c);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}
