.card-staff {
    height: 66px;
    width: 100%;
    padding: 17px 0 13px 16px;
    display: flex;
}
.card-user__text {
    color: var(--white);
    font-size: 10px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.card-staff__avatar .avatar {
    padding: 0;
    height: 40px;
    width: 50px;
    border-radius: 0;
    justify-content: flex-start;
    align-items: flex-end;
}
.card-staff__avatar .avatar > svg {
    min-width: 10px;
}
.card-staff__text {
    font-size: 12px;
    font-weight: 400;
    color: var(--white);
    margin: 0 0 0 calc(40px + 33px);
}
