.pago-mixto__item__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.pago-mixto__item__main {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    column-gap: 13px;
}

.pago-mixto__item__title {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 200% */
}

.pago-mixto__input-currency {
    width: 110px;
}

.pago-mixto__input-dropdown {
    width: 196px;
}

.pago-mixto__input-card {
    width: 156px;
}

.pago-mixto__input-delete {
    margin-top: 30px;
    cursor: pointer;
}
