.detalle-orden_item {
    display: flex;
    flex-direction: column;
    padding: 10px 24px;
}

.detalle-orden_item__row {
    width: 100%;
    display: grid;
    grid-template-areas: "a b c";
    column-gap: 7px;
    grid-template-columns: fit-content(100%) 1fr auto; /* Define el ancho de las columnas */
    grid-auto-rows: auto;
}

.detalle-orden_item__title__count {
    grid-area: a;
}

.detalle-orden_item__title__text {
    color: var(--Header, #0e0e0e);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 19.6px */
}

.detalle-orden_item__title {
    max-width: 165px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: b;
}

.detalle-orden_item__title__cost {
    grid-area: c;
}

.detalle-orden_item-extra__row {
    width: 100%;
    display: grid;
    grid-template-areas: "a b c";
    column-gap: 7px;
    grid-template-columns: fit-content(100%) 1fr auto; /* Define el ancho de las columnas */
    grid-auto-rows: auto;
}

.detalle-orden_item__subtitle__text {
    color: var(--placeholder);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
}

.detalle-orden_item__subtitle {
    margin-left: 20px;
    grid-area: b;
}

.detalle-orden_item__subtitle__cost {
    grid-area: c;
}
