.tab__reservada__detalles__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab__reservada__detalles__main {
    height: calc(100dvh - 330px);
    overflow-y: auto;
}

.tab__reservada__detalles__footer {
    margin-top: 20px;
}

.tab__reservada__detalles__textbox {
    width: 88%;
}