.room-card--xs--unclean__timer {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
}

.room-card--xs--unclean__description {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@keyframes blink-unclean {
    0%,
    100% {
        background-color: #ffe99c;
    }
    50% {
        background-color: #fff4cf;
    }
}

.room-card--unclean__animated {
    animation: blink-unclean 1.5s infinite;
}
