.tab__reservada__payments__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab__reservada__payments__list {
    height: calc(100dvh - 415px);
    overflow-y: auto;
}

.tab__reservada__payments__divider {
    background: rgba(255, 255, 255, 0.15);

    width: 100%;
    height: 1px;

    margin: 10px 0;
}
