.screen {
    box-sizing: border-box;
    height: 100%;
    /* min-height: calc(100% - 60px); */
    overflow-x: hidden;
}

.screen__static-width {
    width: 1200px;
    max-width: 1200px;
}

.screen__head {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
    align-items: center;
}

.screen__close {
    width: 35px;
    height: 35px;
    background-color: var(--fondo-close);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.screen__head__left {
    padding-top: 10px;
}

.screen__head__back {
    width: 130px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.screen__head__back>span {
    font-family: "Qualy";
    font-size: 12px;
    font-weight: 400;
    color: var(--tipografa);
}

.screen__head__back__icon {
    height: 15px;
    width: 15px;
    background-color: var(--fondo-close);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen__head__back__icon svg {
    transform: scale(0.5);
}

.screen__head__title {
    font-family: "Qualy";
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.screen__head__subtitle {
    margin-top: 14px;
    color: var(--Tipografa, #303030);
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
}

/* .screen__close > svg {
    height: 15px;
    width: 15px;
} */
.screen__close path {
    stroke-width: 3px;
}

/* Define la altura del contenido de la ventana, todo el alto de la ventana menos la altura del header -> 60px el titulo de la screen -> 65px y el padding de .screen__head -> 20px  total: 145px*/
.screen__content {
    height: auto;
    /* min-height: calc(100vh - 145px); */
}

.screen__head__right {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
}