.drawerPersonalWrapper__footer__divider {
    height: 1px;
    width: 460px;
    left: -30px;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    margin: 24px 0;
}

.drawerPersonalWrapper__footer {
    width: 100%;
}