.ordenes-drawer-skeleton-container {
    margin: 37px 24px;
    height: 100%;
}
.ordenes-drawer__item {
    width: 100%;
    margin-bottom: 12px;
}
.ordenes-drawer__item__detail {
    box-sizing: border-box;
    padding-left: 30px;
}
.ordenes-drawer__item__comment {
    display: grid;
    grid-template-columns: 12px 1fr;
    column-gap: 8px;
}
.ordenes-drawer__item__comment__value {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}