.product-card {
    width: 200px;
    height: 255px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}
.product-card--active {
    border-color: var(--primary);
}
.product-card__size {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 10px;
    background-color: var(--white);
    z-index: 99;
}
.product-card__size-label {
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}
.product-card__info {
    display: flex;
    flex-direction: column;
    height: calc(100% - 47px);
    margin-bottom: 15px;
    justify-content: flex-end;
}
.product-card__image-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin-bottom: 12px;
}
.product-card__image-empty {
    height: 90px;
    width: 90px;
    background-color: var(--fondo--close);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-card__alert {
    position: absolute;
    width: 90px;
    height: 28px;
    background-color: var(--pink-ocupado-light);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink-ocupado);
    font-size: 16px;
    font-weight: 500;
}
.product-card__description {
    color: var(--placeholder);
    font-size: 10px;
    font-weight: 400;
    /* white-space: nowrap; */
    max-width: 100%;
    line-height: 14px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    margin-bottom: 4px;
    overflow-wrap: break-word;
    word-break: break-word;
}
.product-card__name {
    color: var(--tipografa);
    font-size: 10px;
    font-weight: 600;
    max-width: 100%;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    margin-bottom: 2px;
    white-space: normal;
    /* height: 32px; */
}
.product-card__name--receta {
    margin-bottom: 4px;
    overflow-wrap: break-word;
    word-break: break-word;
}
.product-card__cost {
    color: var(--tipografa);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    user-select: none;
}
.product-card__counter {
    gap: 0;
}
.product-card__counter .counter__container {
    width: 100%;
    justify-content: space-between;
    gap: 0;
}
.product-card__counter .counter__limitt {
    display: none;
}
.product-card__counter .counter__number {
    font-family: "Inter";
    font-size: 24px;
}
.product-card__counter .counter__button {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    padding: 8px;
}
.product-card__skeleton-image {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 auto 22px;
}
.product-card__skeleton-description {
    height: 14px;
    width: 100%;
    margin-bottom: 4px;
}
.product-card__skeleton-name {
    height: 16px;
    width: 80%;
    margin-bottom: 6px;
}
.product-card__skeleton-cost {
    height: 18px;
    width: 60%;
}
