.flexible-table__cell--sort {
    position: relative;
}

.flexible-table__cell--sort__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 175px;
    border-radius: 6.911px;
    border: 0.864px solid var(--Scroll, #eaecf0);
    background: var(--Blanco, #fff);
    box-shadow: 0 10.367px 13.823px -3.456px rgba(16, 24, 40, 0.08), 0 3.456px 5.184px -1.728px rgba(16, 24, 40, 0.03);
    overflow: hidden;
}

.flexible-table__cell--sort__menu__item {
    padding: 10px 10px;
}

.flexible-table__cell--sort__menu__item:hover {
    background-color: var(--fondo--close);
}

.flexible-table__cell--sort__menu__item--active {
    background-color: var(--purple-secondary);
}

.flexible-table__cell--sort__menu__text {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 13.823px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.734px; /* 150% */
}
