.cortes-skeleton-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 14px;
    width: 100%;
    margin-bottom: 16px;
}
.cortes-skeleton-card {
    height: 110px;
    width: 100%;
    box-sizing: border-box;
}
.cortes-skeleton-content-first {
    width: 100%;
    height: 14px;
    border-radius: 8px;
    margin-bottom: 25px;
    .skeleton-item-base {
        width: 100%;
        height: 14px;
        border-radius: 8px;
    }
}
.cortes-skeleton-content-second {
    width: 80%;
    height: 14px;
    border-radius: 8px;
    .skeleton-item-base {
        width: 80%;
        height: 14px;
        border-radius: 8px;
    }
}
