.flexible-table__header__cell {
    background-color: transparent;
    text-align: start;
    gap: 12px;
    height: 44px;
    margin: 0;
    padding: 12px 24px;
    border-bottom: 1px solid var(--gray-cell-header);
    box-sizing: border-box;
}

.flexible-table__header__cell--pointer {
    cursor: pointer;
}

.flexible-table__header__cell-text {
    white-space: nowrap;
    color: var(--morado-morado-primario, #6941c6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}
