.incidencia__drawer__title {
    margin: 18px 0 8px;
    color: var(--white);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.incidencia__drawer__subtitle {
    margin: 0 0 30px;
    color: var(--white);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 133.333% */
}

.incidencia__drawer .drawer__contain__top-right svg {
    width: 30px;
    height: 30px;
}