.pendienteDePagoWith {
    width: 100%;
    min-width: 262px;
    height: 216px;
    border-radius: 18.847px;
    background: rgba(14, 14, 14, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    animation: opacity-animation 0.5s none ease;
    box-sizing: border-box;
}

.pendienteDePagoWith__title {
    color: #fff;
    font-family: var(--font-text);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    animation: opacity-animation 0.5s none ease;
    margin-bottom: 20px;
    margin-top: 5px;
}

.pendienteDePagoWith__grid {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-row-gap: 25px;
    grid-column-gap: 16px;
}

.pendienteDePagoWith__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pendienteDePagoWith__content__number {
    color: var(--pink-ocupado);
    font-family: "Qualy";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
}

.pendienteDePagoWith__content__number--estancia {
    color: var(--sucia);
}

.pendienteDePagoWith__content__subTitle {
    color: var(--white);
    font-family: var(--font-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.pendienteDePagoWith__notData__icon {
    background: #6941c657;
    padding: 22px 26px 22px 24px;
    border-radius: 50%;
    margin-top: 20px;
}

@keyframes opacity-animation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}