.board-column-container-empty {
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--morado---morado---primario);
    border-radius: 8px;
}

.board-column-container-empty-text {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.12px;
    margin: 2px 0;
    overflow-y: scroll
}

