.asignacion__reservaciones__drawer__tab__pay__total__item {
    width: 100%;
    margin: 8px 0;
}
.signacion__reservaciones__drawer__tab__pay__total__line1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.signacion__reservaciones__drawer__tab__pay__total__line1 > span {
    color: var(--Blanco, #fff);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}
.signacion__reservaciones__drawer__tab__pay__total__line2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.signacion__reservaciones__drawer__tab__pay__total__line2 > span {
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}
