.calendario-reservaciones__control {
    animation: select-animation 0.5s none ease;
    display: flex;
    gap: 10px;
    align-items: center;
}

.calendario-reservaciones__control-date-month {
    display: flex;
    gap: 5px;
    background: var(--white);
    box-shadow: var(--shadow-input);
    border: var(--border-input);
    color: var(--slate-gray);
    font-family: var(--font-text);
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    height: 2.7rem;
    width: 10rem;
    justify-content: space-between;
}

.calendario-reservaciones__control-btn {
    display: flex;
    background: none;
    border: none;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    margin: 2px;
    transition: all 0.3s;
}

.calendario-reservaciones__control-btn:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.calendario-reservaciones__control-date-year {
    display: flex;
    gap: 5px;
    background: var(--white);
    box-shadow: var(--shadow-input);
    border: var(--border-input);
    color: var(--slate-gray);
    font-family: var(--font-text);
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    height: 2.7rem;
    width: 8rem;
    justify-content: space-between;
    margin-right: 10px;
    transition: all 0.3s;
}

.calendario-reservaciones__control-date-day {
    display: flex;
    gap: 5px;
    background: var(--white);
    box-shadow: var(--shadow-input);
    border: var(--border-input);
    color: var(--slate-gray);
    font-family: var(--font-text);
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    height: 2.7rem;
    width: 7rem;
    justify-content: space-between;
}