.checkbox__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox {
    width: 16px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid #d0d5dd;
    cursor: pointer;
}
.checkbox__icon {
    height: 7px;
    width: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.checkbox__info {
    margin-left: 12px;
}
.checkbox__label {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    line-height: 12px;
    color: var(--tipografa);
}
.checkbox__description {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #475467;
}
.checkbox:hover {
    border-color: #0e0e0e;
}
.checkbox--state--active {
    border-color: #0e0e0e;
}
.checkbox--state--active > .checkbox__icon {
    opacity: 1;
}
.checkbox--state--disabled {
    background-color: #f2f4f7;
    border-color: #cbd2e0;
}
.checkbox--state--disabled:hover {
    background-color: #f2f4f7;
    border-color: #cbd2e0;
}

.checkbox__alt_description {
    color: #6941c6;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
