.pago-propinas__resumen__body__list__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pago-propinas__resumen__body__list__item__colaborador {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}

.pago-propinas__resumen__body__list__item__colaborador__text {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    
    max-width: 150px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    
    align-items: center;
}

.pago-propinas__resumen__body__list__item__colaborador__text.cost {
    text-align: right;
}

