.largecard__container {
    border: 1px solid #eaecf0;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px #1018280d;
    padding: 24px 40px;
    background-color: #ffff;
    margin-bottom: 20px;

    .card {
        display: flex;
        justify-content: space-between;
    }
    .card-header-title {
        font-size: 24px;
    }
    .modal--confirm__content {
        width: 475px;
    }
    .modal--confirm__header {
        width: 90%;
    }
    .modal--confirm__description {
        width: 430px;
    }
    .modal--confirm__title {
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .modal--confirm__divider {
        width: 430px;
        margin-top: 30px;
    }
    .modal--confirm__footer {
        width: 450px;
        height: 90px;
        .button {
            width: 45%;
            height: 50px;
        }
        .button--secondary {
            border: 1.5px solid #6941c6;
        }
    }
}
.card-header-subtitle,
.card-content-line-subtitle-edit {
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    color: #667085;
}
.card-content-line-title,
.card-content-line-edit-title {
    transition: all 0.2;
    font-weight: 700;
    font-size: 18px;
    margin-right: 12px;
}
.card-content-line-subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #667085;
    margin-right: 24px;
}

.card-content-line,
.card-content-line-edit,
.card-content-line-added-edit {
    animation: opacity-animation 0.5s none ease;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.largecard-right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chevroUp-button .drop {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    transition: cubic-bezier(0.68, 0.15, 0.01, 1.18) 0.4s;
}
.largecard-button {
    padding: 12px 16px;
    box-shadow: 0px 0px 2px 1px #0000000d;
    border-radius: 12px;
    margin-left: 12px;
    cursor: pointer;
    animation: animation 0.5s none ease;
}
.largecard-button-icon {
    width: 20px;
    height: 20px;
}
.card-content-line-title-edit {
    color: #606060;
    font-weight: 700;
    font-size: 14px;
}
.card-content-line-input {
    border: 1px solid #0E0E0E;
    margin-right: 24px;
}
.card-content-line-edit-title,
.card-content-line-subtitle-edit {
    margin-top: 30px;
}
.card-content-line-added-edit {
    margin: 20px 0;
}
.largecard-left-added {
    .card-content-line-input {
        width: 100%;
    }
    .card-content-line-edit-title {
        font-size: 16px;
        width: 28%;
    }
    .card-content-line-subtitle-edit {
        font-size: 12px;
        width: 10%;
    }
}

.card-content-line-edit-subcategoria {
    color: var(--primary);
    margin-top: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    animation: opacity-animation 0.5s none ease;
    width: fit-content;
}

.card-content-line-edit-subcategoria p {
    color: #6941C6;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.chevroUp-button {
    margin-left: 20px;
    cursor: pointer;
}

.subCatgoria-pil, .subCatgoria-pil-selected {
    border-radius: 8.941px;
    border: 0.894px solid var(--stroke, #bebebe);
    background: var(--Color, #fff);
    color: var(--Placeholder, var(--Placeholder, #667085));
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    padding: 7px 9px;
    height: fit-content;
    display: flex;
    align-items: center;
    width: max-content;
}

.card-content__containerSubGrup {
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 50px;
grid-row-gap: 12px;
    animation: opacity-animation 0.5s none ease;
    margin-top: 12px;
}
.subCatgoria-pil__icon {
    animation: animation 0.5s none ease;
    margin-left: 7px;
    padding: 3px;
    background-color: #0E0E0E;
    border-radius: 50%;
    cursor: pointer;
    width: 17px;
    height: 17px;
}
@keyframes opacity-animation {
    from {
        transform: translateX(-3px);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animation {
    from {
        transform: scale(0.8);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes select-animation {
    from {
        opacity: 0.5;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.subCatgoria-pil .select {
    background-color: var(--error);
}

.subCatgoria-pil-selected {
    opacity: 0.5;
}

.card-content-line {
    margin-top: 20px;
}

.modal-delete-subcategoria-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0 20px 30px;
    color: #667085;
}

.card-sub-group-title {
    font-size: 14px;
    font-weight: 600;
    color: #606060;
}

.card-content-sub-group {
    animation: opacity-animation 0.5s none ease;
    margin-top: 24px;
    display: grid;
}

.card-sub-group-subcategorias {
    margin-top: 10px;
    columns: 2;
}

.card-subcategoria-content {
    display: flex;
    margin-top: 5px;
}

.card-content-line-presupuesto {
    font-weight: 500;
    font-size: 14px;
    margin-right: 24px;
}