.room-card--xl-clean__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-card--xl-clean__gest-name {
    color: var(--tipografa, #303030);
    text-align: center;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
}

.room-card--xl-clean__description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-card--xl-clean__gest-number {
    color: var(--tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}

.room-card--xl-clean__progressbar-timer {
    color: var(--wf-base-900);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
    letter-spacing: -0.14px;
}
