.config-propinas__layout {
    width: 100%;

    .switch {
        width: 44px;
        height: 24px;
    }
    .switch__dot {
        width: 20px;
        height: 20px;
    }
    .switch--state--active > .switch__dot {
        transform: translateX(20px);
    }

    .modal-mixto__link {
        margin-top: 20px;
    }
}
.config-propinas__tabs {
    margin: 24px 0 40px;
    .input-tab {
        width: fit-content;
        height: fit-content;
        .input-tabs__tab-label {
            max-width: fit-content;
            margin: 12px;
        }
    }
}
.config-propinas__row {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 60px;
}
.config-propinas__row_title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}
.config-propinas__row_subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.config-propinas__input {
    width: 515px;
}
.config-propinas__button {
    width: 324px;
    float: right;
}
.config-propinas__title--pagos {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-bottom: 24px;
}
.config-propinas__subtitle--pagos {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}
.config-propinas__dropdown {
    width: 327px;
}
.config-propinas__form {
    .dropdown-component-container,
    .input-text__container {
        width: fit-content;
    }
    .input-text__container {
        margin-bottom: 4px;
    }
}
.config-propinas__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.config-propinas__content {
    padding-bottom: 90px;
}