.unauthorized-modal__container {
    margin:  0 20px;
}
.unauthorized-modal__title {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}
.unauthorized-modal__subtitle {
    color: var(--Placeholder, var(--Placeholder, #667085));
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}
