.reservas-screen__float-button {
    position: fixed;
    right: 60px;
    bottom: 80px;
    z-index: 99;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.reservas-screen__float-button > svg {
    width: 50%;
    height: 50%;
}
