.room-card--lg--extra-time-wrapper__body {
    display: flex;
    justify-content: space-between;
}

.room-card--lg--extra-time-wrapper__description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room-card--lg--extra-time-wrapper__description {
    display: flex;
    align-items: center;
    margin: 3px 10px;
    text-align: right;
}

.room-card--lg--extra-time-wrapper__description-text {
    color: var(--wf-base-900, #1a202c);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    letter-spacing: -0.14px;
    margin-left: 5px;
}

.room-card--lg--extra-time-wrapper__timer {
    color: var(--tipografa);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;

    margin-left: 5px;
}

.room-card--lg--extra-time-wrapper__description-extra {
    color: var(--tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;

    margin-left: 5px;
}
