.checkbox-incidence {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d0d5dd; 
  background-color: var(--white);
  flex-shrink: 0;
}

.checkbox-incidence--selected {
  border: 5px solid var(--primary); 
}
