.detale-p-propinas {
    padding: 0;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}
.detale-p-propinas .screen__head {
    align-items: flex-start;
}
.detale-p-propinas__header {
    display: grid;
    grid-template-columns: 28px 160px;
    column-gap: 16px;
    align-items: center;
}
.detale-p-propinas__btn {
    width: 100%;
}
.detale-p-propinas__btn span {
    font-size: 12px;
    text-wrap: nowrap;
}
.detale-p-propinas__info {
    display: flex;
    align-items: center;
    margin: 10px 0 20px;
}
.detale-p-propinas__monto {
    font-size: 14px;
    font-weight: 600;
    color: var(--tipografa);
    margin-right: 8px;
}
.detale-p-propinas__table {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--stroke);
    display: grid;
    grid-template-rows: 1fr 60px;
}
.detale-p-propinas__table-content {
    overflow-x: hidden;
    overflow-y: auto;
}
.detale-p-propinas__table-content .flexible-table__body__cell-text {
    font-size: 10px;
    overflow-x: hidden;
}
.detale-p-propinas__th-grid {
    display: grid;
    grid-template-columns: 1fr 14px;
    align-items: center;
    overflow: hidden;
}
.detale-p-propinas__th-label {
    display: block;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    color: var(--primary);
    font-family: "Roboto";
}
.detale-p-propinas__table-total {
    height: 60px;
    width: 100%;
    background-color: var(--pale-white);
    display: grid;
    grid-template-columns: 194px 114px 109px 124px 164px 124px 124px 134px 108px;
}
.detale-p-propinas__total-cell {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12px;
    overflow: hidden;
}
.detale-p-propinas__total-cell span {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: var(--tipografa);
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detale-p-propinas__cell-personal {
    width: 170px;
}
.detale-p-propinas__cell-pr {
    width: 90px;
}
.detale-p-propinas__cell-af {
    width: 85px;
}
.detale-p-propinas__cell-spv {
    width: 100px;
}
.detale-p-propinas__cell-cbpv {
    width: 140px;
}
.detale-p-propinas__cell-npv {
    width: 100px;
}
.detale-p-propinas__cell-fp {
    width: 100px;
}
.detale-p-propinas__cell-cbsf {
    width: 110px;
}
.detale-p-propinas__cell-pc {
    width: 80px;
}
.detale-p-propinas__cell__name {
    display: flex;
    flex-direction: column;
    width: 120px;
    max-width: 120px;
}
.detale-p-propinas__cell__name-label {
    font-size: 10px;
    font-weight: 600;
    color: var(--tipografa);
}
.detale-p-propinas__cell__name-value {
    font-size: 10px;
    font-weight: 600;
    color: var(--placeholder);
}
.detale-p-propinas__link {
    color: var(--primary);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
    cursor: pointer;
}
.detale-p-propinas__link:active {
    opacity: 0.5;
}
