.room-card--xl-car-entrance__gest-car {
    color: var(--tipografa);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;
    margin-left: 6px;
}

.room-card--xl-car-entrance__description-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-card--xl-car-entrance__gest-number {
    color: var(--tipografa);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
    margin-left: 5px;
}
