.horas-extra__wrapper {
    overflow-x: hidden;
    height: 435px;
    /* flex: 0 0 100% */

}

.modal__mixto-horas-extra {
    padding-top: 0px;
    flex: 0 0 100%
}

.horas-extra__header {
    margin-top: 10px;
    row-gap: 10px;
}

.horas-extra__header__title {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.981px; /* 116.563% */
}

.horas-extra__header__end-date {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 93.75% */
}

@keyframes slideLeftHorasExtra {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-104.5%);
  }
}

@keyframes slideRightHorasExtra {
  from {
    transform: translateX(-104.5%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Aplicar la animación inicial a la clase */
.horas-extra__body-trigger--left {
    animation: slideLeftHorasExtra 0.5s ease forwards;
}

/* Aplicar la animación para volver a la derecha al retirar la clase */
.horas-extra__body-trigger--right {
    animation: slideRightHorasExtra 0.5s ease forwards;
}

.horas-extra__body {
    margin-top: 10px;
    row-gap: 10px;
}

.horas-extra__body__form {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: visible;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    row-gap: 10px;
}

.horas-extra__body-monto {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    > span {
        color: var(--Tipografa, #303030);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }
}

.horas-extra__body-pago {
    width: 100%;
}

.horas-extra__footer__button {
    width: 100%;
    height: 40px;
}

.horas-extra-propinas {
    margin-top: 5px;
    margin-bottom: -30px;
}