.detalle-h-venta__clean-staff__block {
    height: calc(100% - 200px);
}
.detalle-h-venta__clean-type__box {
    height: calc(100% - 98px);
}
.detalle-h-venta__block-mg {
    height: calc(100% - 60px);
    margin-bottom: 24px;
}
.detalle-h-venta__mantenance__box {
    height: calc(100% - 130px);
}
.detalle-h-venta__booking__text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.detalle-h-venta__booking__box {
    height: calc(100% - 192px);
}
