.perfil__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 60px;
}
.perfil__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
}
.perfil__box {
    position: relative;
    margin-bottom: 14px;
}
.perfil__picture {
    height: 86px;
    width: 86px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #efe9ff;
}
.perfil__dot {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.perfil__dot:active {
    opacity: 0.5;
}
.perfil__img {
    height: 100%;
    width: 100%;
    clip-path: circle(50%);
    color: transparent;
    object-fit: cover;
}
.perfil__title {
    color: var(--tipografa);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.36px;
}
.perfil__description {
    color: var(--tipografa);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
}
.perfil__options {
    width: 100%;
}
.perfil__item {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 12px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 0.3px solid transparent;
    padding: 20px 0;
    cursor: pointer;
}
.perfil__item-border {
    border-color: #d4c1ff;
}
.perfil__item:active {
    opacity: 0.5;
}
.perfil__item-text {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    user-select: none;
    margin: 0;
}
.perfil__version-container {
    position: absolute;
    bottom: 24px;      
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.perfil__version {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--Componente-Scroll, #EAECF0); 
}
