.option-selector {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .option-selector__item {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #EFE9FF; 
    border-radius: 10px; 
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); 
    background-color: #FFFFFF;
  }
  
  .option-selector__item:hover {
    border-color: #6941C6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .option-selector__input {
    display: none;
  }
  
  .option-selector__label {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    margin-right: auto;
  }
  
  .option-selector__radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #6941C6;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .option-selector__radio--selected {
    background-color: #EFE9FF;
    border-color: #6941C6;
    position: relative;
  }
  
  .option-selector__radio--selected::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6941C6;
  }
  