.input-date-modal__month-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas de tamaño igual */
    grid-template-rows: repeat(6, 1fr); /* 6 filas de tamaño igual */
    grid-row-gap: 20px;   
    overflow-y: scroll;       /* Espaciado vertical entre las filas */
}

.input-date-modal__month-day {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
