.drawer-image__title {
    color: var(--tipografa);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.drawer-image__options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc(var(--spacing) * 4);
}
.drawer-image__item {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 12px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 0.3px solid transparent;
    padding: 20px 0;
    cursor: pointer;
}
.drawer-image__item-border {
    border-color: #d4c1ff;
}
.drawer-image__item:active {
    opacity: 0.5;
}
.drawer-image__item-text {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    user-select: none;
}
