.reservas-screen__drawer__title {
    margin: 20px 0 8px;
    
    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.reservas-screen__drawer__subtitle {
    margin: 0 0 30px;

    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
