.flexible-table__body__row {
    border-bottom: 1px solid var(--stroke-inputs-default, #f2f4f7);
    border-top: 1px solid var(--stroke-inputs-default, #f2f4f7);
    background-color: var(--white);
}

.flexible-table__body__row:hover {
    background-color: var(--fondo-close);
}

.flexible-table__body__row--selected {
    border-top: 1px solid var(--morado-morado-primario, #6941c6);
    border-bottom: 1px solid var(--morado-morado-primario, #6941c6);
    background-color: var(--fondo-close);
}
.flexible-table__body__row--selected td {
    border-top: 1px solid var(--morado-morado-primario, #6941c6);
}
