.touchable {
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease-in-out;
}
.touchable_theme_disabled {
    backdrop-filter: blur(50px);
    opacity: 0.5;
    pointer-events: none;
}
.touchable_theme_dark {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
}
.touchable_theme_light {
    background-color: var(--white);
}
.touchable_theme_light_active {
    background-color: var(--fondo-close);
}
.touchable_theme_dark_active {
    background-color: rgba(105, 65, 198, 0.5);
    backdrop-filter: blur(50px);
}
.touchable:active {
    opacity: 0.9;
}
.touchable_theme_dark:hover {
    background-color: rgba(105, 65, 198, 0.5);
    backdrop-filter: blur(50px);
}
