.slide-personal {
    padding: 70px 20px 20px;
    z-index: 1001;
}
.slide-personal__blur {
    z-index: 1000;
}
.slide-personal__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}
.slide-personal__tabs {
    margin: 25px 0 20px;
}
.slide-personal__tabs .tab-menu--dark__item__label {
    font-size: 11px;
}
.slide-personal__content {
    height: calc(100dvh - 250px);
    overflow: hidden auto;
}
.slide-personal__accordion .drawer-accordion-title {
    font-size: 16px;
}
.slide-personal__accordion .drawer-accordion-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}
.slide-personal__item .cardUser__email--sm {
    font-size: 10px;
}
.slide-personal__item .cardUser__text--bold {
    line-height: 100%;
}
.slide-personal__item .cardUser__name--sm {
    line-height: 20px;
}
