.modalPagoMixtoLovePoints {
    width: 802px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: all 200ms ease-in;
}
.modalPagoMixtoLovePoints .modal__close {
    width: 24px;
    height: 24px;
    top: 30px;
    right: 30px;
}
.modalPagoMixtoLovePoints__title {
    font-size: 18px;
    color: var(--tipografa);
    font-weight: 600;
    line-height: 28px;
    margin: 0;
}
.modalPagoMixtoLovePoints__subtitle__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    margin: 0 0 10px;
}
.modalPagoMixtoLovePoints__subtitle {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px;
    line-height: 28px;
}
.modalPagoMixtoLovePoints__subtitle > strong {
    color: var(--purple-drawer-primario);
}
.modalPagoMixtoLovePoints__label {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--deep-dark-gray);
    display: block;
    margin-bottom: 10px;
}
.modalPagoMixtoLovePoints__select {
    width: 100%;
    box-sizing: border-box;
}
.modalPagoMixtoLovePoints__footer {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    width: 100%;
}
.modalPagoMixtoLovePoints__link {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.modalPagoMixtoLovePoints__link > svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.modalPagoMixtoLovePoints__link > span {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--purple-drawer-primario);
}
.modalPagoMixtoLovePoints__button {
    height: 40px;
    flex: 1;
}
.modalPagoMixtoLovePoints__button span {
    font-size: 14px;
}
.modalPagoMixtoLovePoints__field {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 10px;
    box-sizing: border-box;
}
.modalPagoMixtoLovePoints__row {
    width: calc(100% - 32px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
}
.modalPagoMixtoLovePoints .input-currency__wrapper {
    width: 100%;
}
.modalPagoMixtoLovePoints .text-box__wrapper {
    width: 100%;
}
.modalPagoMixtoLovePoints .text-box__semi-container {
    width: 100%;
    height: 230px;
    box-sizing: border-box;
}
.modalPagoMixtoLovePoints .dropdown-component-label {
    text-transform: none;
    margin-bottom: 6px;
}
.modalPagoMixtoLovePoints__input-wrap {
    display: flex;
    position: relative;
}
.modalPagoMixtoLovePoints__field__remove {
    position: absolute;
    height: 24px;
    top: 30.8px;
    right: -34px;
}
.modalPagoMixtoLovePoints__height__xs {
    height: 352px;
}
.modalPagoMixtoLovePoints__height__sm {
    height: 480px;
}
.modalPagoMixtoLovePoints__height__md {
    height: 600px;
}
.modalPagoMixtoLovePoints__height__lg {
    height: 665px;
}
.modalPagoMixtoLovePoints__tip-section {
    width: 100%;
    margin: 0 0 16px;
}
.modalPagoMixtoLovePoints__tip__title {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px;
}
.modalPagoMixtoLovePoints__tip__options {
    display: grid;
    grid-template-columns: 305px 175px;
    column-gap: 12px;
    height: 63px;
    align-items: flex-end;
    padding: 0;
}
.modalPagoMixtoLovePoints__tip__tabs {
    display: grid;
    grid-template-columns: 100px 100px 80px;
    column-gap: 12px;
}
.modalPagoMixtoLovePoints__tip-item {
    width: 100%;
    height: 44px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid;
    transition: all ease-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalPagoMixtoLovePoints__tip-item-title {
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 5px;
}
.modalPagoMixtoLovePoints__tip-item-label {
    color: var(--placeholder);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
}
.modalPagoMixtoLovePoints__tip-item--default {
    border-color: var(--gray-disabled);
    background-color: var(--white);
    color: var(--header);
}
.modalPagoMixtoLovePoints__tip-item--active {
    border-color: var(--primary);
    background-color: var(--fondo--close);
    color: var(--primary);
}
.modalPagoMixtoLovePoints__tip-item--active .modalPagoMixtoLovePoints__tip-item-label {
    color: inherit;
}
.modalPagoMixtoLovePoints__tip-input-currency {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.modalPagoMixtoLovePoints__tip-input-currency .input-text__container {
    position: relative;
    gap: 0;
}
.modalPagoMixtoLovePoints__tip-input-currency .input-text__label {
    margin-bottom: 6px;
}
.modalPagoMixtoLovePoints__tip-input-currency .input-text__hint--error {
    position: absolute;
    bottom: -18px;
}
