.detalle-incidencia__container {
    display: grid;
    row-gap: 20px;
    height: 470px;
    overflow-y: scroll;
    height: calc(100vh - 300px);
    animation: select-animation2 0.5s none ease;
}

.detalle-incidencia__container__items {
    max-height: 470px;
}

@keyframes select-animation2 {
    from {
        opacity: 0.5;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.detalle-incidencia__container-button {
    position: absolute;
    bottom: 24px;
    width: 330px;
}

.detalle-incidencia__button {
    width: 100%;
}

.detalle-incidencia__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 8px;
    height: 430px;
    width: 512px;
    min-width: 350px;
    justify-content: space-around;
    animation: zoom-in 0.3s ease-in-out;
    background-color: var(--modal-background);
    padding: 24px;
}

.detalle-incidencia__modal__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;

    & h2 {
        color: var(--Tipografa, #303030);
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        /* 107.692% */
    }
}

.detalle-incidencia__modal__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rdetalle-incidencia__modal__icon {
    display: flex;
    background-color: var(--light-gray);
    padding: 3px;
    border-radius: 50%;
    flex-direction: row;
    width: 5rem;
    margin-top: 1.5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.detalle-incidencia__modal__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 72%;
    width: 100%;
    align-items: center;
}

@keyframes zoom-in {
    0% {
        opacity: 0.5;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.detalle-incidencia__modal__svg {
    width: 100%;
    height: 100%;
    margin: 7px;
}