.pago-propinas-confirm--gerente-pago__wrapper {
    row-gap: 20px;
}

.pago-propinas-confirm--gerente-pago--gerente__title {
    color: var(--Tipografa, #303030);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.981px; /* 116.563% */

    margin-top: 16px;
}

.pago-propinas-confirm--gerente-pago--gerente__title__amount {
    color: var(--Morado-Morado-Primario, #6941c6);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.981px; /* 116.563% */
}

.pago-propinas-confirm--gerente__form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.pago-propinas-confirm--gerente__form__row {
    display: flex;
    width: 100%;
    column-gap: 16px;
}

.pago-propinas-confirm--gerente-pago--gasto__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pago-propinas-confirm--gerente-pago--gasto {
    display: flex;
    column-gap: 16px;
}

.pago-propinas-confirm--gerente-pago--gasto__text {
    color: var(--Input-tag, #606060);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
}

.pago-propinas-confirm--gerente-pago--gasto__description {
    color: var(--Placeholder, var(--Placeholder, #667085));
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.984px; /* 149.867% */
}
