.cortes-cards__container-cards {
    width: 100%;
}

.cortes-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px 0px;
}

.cortes-screen-header {
    display: flex;
    align-items: center;
}

.cortes-screen-header-icon {
    box-shadow: 0px 0px 2px 1px #0000000d;
    border-radius: 12px;
    padding: 10px 15px;
    background-color: #ffffff;
    display: flex;
    margin-right: 6px;
}

.cortes__subtitle {
    display: flex;
    margin-top: 4px;
    margin-bottom: 24px;
}

.cortes__subtitle-turno,
.cortes__subtitle-date {
    font-size: 14px;
    font-weight: 600;
}

.cortes__subtitle-turno {
    color: #667085;
    margin-right: 5px;
}

.cortes-cards__container-cards .card-header-percent {
    background-color: #408232;
}
.cortes-header-skeleton {
    width: 213px;
    height: 14px;
    border-radius: 8px;
    margin: 11px 0 20px 0;
}
.cortes-header-skeleton .skeleton-item-base {
    width: 213px;
    height: 14px;
    border-radius: 8px;
}
.cortes-screen__table {
    height: calc(100dvh - 200px);
    overflow: auto;
    border: 1px solid var(--gray-background);
    border-radius: 10px;
}
.cortes-subtitle-value {
    font-weight: 600;
    font-size: 16px;
}
.cortes-modal-cerrar-incidencia {
    .registro-incidencia__input-text {
        width: 100%;
    }
}
.cortes-screen__caratula {
    height: 44px;
}