.description-detail {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}
.description-detail__icon {
    height: 16px;
    width: 16px;
    min-width: 16px;
    margin-top: 3px;
}
.description-detail__content {
    width: calc(100% - 32px);
}
.description-detail__extra {
  position: absolute;
  top: 20px; 
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.description-detail__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white);
    margin: 0;
}
.description-detail__date {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: var(--white);
    margin: 0;
    white-space: nowrap;
}
.description-detail__value {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: var(--white);
    white-space: normal;
    text-wrap: wrap;
    margin: 0;

    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 185px;
}
.description-amount {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--white);
  white-space: nowrap;
  margin: 0;
}

.description-payment-method {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white);
  margin: 0;
  white-space: nowrap;
}

.description-detail__link {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-decoration-line: underline;
    color: var(--white);
    margin: 0;
    white-space: nowrap;
}
.description-detail__link_bottom {
    margin-top: 20px;
}
