.guest-resumen__total__detail {
    display: flex;
    justify-content: space-between;
}

.guest-resumen__total__detail__label {
    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.guest-resumen__total__detail__label--thin {
    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.guest-resumen__total__detail__label--total {
    color: var(--Tipografa, #303030);
    text-align: right;
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
}
