.orden__description__container {
    display: flex;
    flex-direction: column;
}

.orden__description {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5px;
}

.orden__description__text {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.14px;
    margin: 0;
}

.orden__description__icon {
    width: 16px;
    height: 16px;
    margin-right: 20px;
    padding-top: 3px;
}

.orden__description__label {
    color: var(--blanco);
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.orden__description__value {
    color: var(--blanco);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-top: 4px;
}

.orden__description__text__two-values {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.orden__description__text__format {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orden__description__text__format2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.orden__description__value2 {
    color: var(--blanco);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.orden__description__container-payment {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
}

.description-payment__icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    padding-top: 1px;
}

.orden__description__label-payment {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}