/* Me quede en acomodar el alto de drawer de personal */
.drawerPersonal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

.drawerPersonal-title__title {
    color: var(--blanco);
    font-family: var(--font-text);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.drawerPersonal-title__subtitle {
    font-family: var(--font-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}

.button-border {
    color: var(--Blanco);
    font-family: var(--font-third);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.drawerPersonal-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    gap: 10px;
}

.drawerPersonal__divider {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    width: 460px;
    position: relative;
    left: -28px;
}

.drawerPersonal__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 15px 0;
    gap: 10px;
    align-items: center;
}

.drawerPersonal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.drawerPersonal__container-info {
    display: flex;
    height: calc(100dvh - 430px);
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
}

.button-border {
    color: var(--Blanco);
    font-family: var(--font-third);
    font-size: 16px;
    font-style: normal;
    border: 2px solid #fff;

    background: none;
    font-weight: 400;
}

.button-border:hover {
    background: #7f56d921;
    border: 2px solid #7c46f7;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.04), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.addPerson__photo {
    display: flex;
    width: 14%;
}

.digitalAuthorization__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.digitalAuthorization__delete-link {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: var(--white);
    text-decoration: underline;
    margin-top: -18px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-content__icon-outer-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef3f2;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 7px;
}

.modal-content__icon-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink-ocupado-light);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.modal-content__close-button {
    background: none;
    border: none;
    cursor: pointer;
}

.modal-content__title-delete {
    font-size: 18px;
    font-weight: 600;
    color: #303030;
    text-align: left;
    flex: 1;
}

.modal-content__description-delete {
    font-size: 12px;
    line-height: 20px;
    color: #667085;
    text-align: justify;
    margin-bottom: 10px;
}

.modal-content__highlight {
    font-weight: 700;
    color: #667085;
}

.modal-content__option-delete {
    width: 100%;
}

.modal-content__divider {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
    margin: 15px 0;
}

.modal-content__footer-text-delete {
    font-size: 12px;
    line-height: 20px;
    color: #667085;
    margin-top: 10px;
    text-align: left;
}

.modal-content__action-button {
    background-color: #6b47dc;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 0;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}