.form-section__inventory {
    /* width: 100%; */
    display: flex;
    /* flex: 1; */
    flex-direction: column;
}

.form-section__inventory__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--stroke);
    margin-bottom: 24px;
}

.form-section__inventory__title {
    color: var(--tipografa);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-section__inventory__title__description {
    color: var(--placeholder);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.56px;

    margin-bottom: 24px;
}
