.month-filter__sheet {
    padding: 20px;
  }
  
  .month-filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .month-filter__title {
    font-size: 16px;
    font-weight: 600;
  }
  
  .month-filter__confirm {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary); 
  }
  
  .month-filter__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
  
  .month-filter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  background-color: transparent;
  color: var(--tipografa);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

  
.month-filter__button--selected {
 background-color: var(--fondo-close);
  color: var(--primary);
}

  
  .month-filter__button--disabled {
  background-color: transparent;
  color: var(--tipografa);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}
