.cortes-screen {
    overflow: hidden;
}

.cortes-screen-detail .screen__head {
    align-items: flex-start;
}

.cortes-screen__cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 14px;
    justify-content: flex-start;
    margin: 0 0 16px;
}

.cortes-screen__card-item {
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 12px 20px;
}

.cortes-screen__card-item .card-header-title {
    font-size: 12px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    max-width: 100%;
    color: var(--tipografa);
}

.cortes-screen__card-item .card-header-title2 {
    font-size: 12px;
    max-width: 100%;
    color: var(--tipografa);
    margin-top: 8px;
}

.cortes-screen__card-item .card-content-number {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: var(--tipografa);
}

.cortes-screen__card-item .card-content-number2 {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: var(--tipografa);
}

.cortes-screen__card-item-total .card-content-number {
    color: var(--primary);
    font-weight: 700;
}

.cortes-screen__card-item-caja .card-content-number {
    color: var(--pink-ocupado);
}

.cortes-screen__card-item .card-content {
    height: auto;
    padding-top: 8px;
}

.cortes-screen__card-item .card-content-dobule {
    padding-top: 0px;
}

.cortes-screen__card-item .card-content-link {
    padding: 0;
    margin-top: 2px;
}

.cortes-screen__card__contain {
    justify-content: flex-start !important;
}

.cortes-screen__header {
    display: flex;
    align-items: center;
}

.cortes-screen__header-space {
    width: 200px;
    height: 40px;
}

.cortes-screen__header-button,
.cortes-screen__header-button:hover {
    margin-right: 15px;
    background-color: var(--fondo-close);
    border: 1.5px solid var(--purple-drawer-primario);
}

.cortes-screen__header-icon {
    position: relative;
    box-shadow: 0px 0px 2px 1px #0000000d;
    border-radius: 12px;
    padding: 10px 13px;
    background-color: #ffffff;
    display: flex;
    margin-right: 15px;
}

.cortes-screen__header-icon-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--ocupado);
    border-radius: 50%;
    right: 8px;
    top: 4px;
}

.cortes-screen__subtitle {
    display: flex;
    margin-top: 4px;
    margin-bottom: 24px;
}

.cortes-screen__subtitle-turno,
.cortes-screen__subtitle-date {
    font-size: 14px;
    font-weight: 600;
}

.cortes-screen__subtitle-turno {
    color: #667085;
    margin-right: 5px;
}

.cortes-screen__header-skeleton {
    width: 213px;
    height: 17px;
    margin: 4px 0 24px;
}

.cortes-screen__header-skeleton .skeleton-item-base {
    width: 213px;
    height: 17px;
    border-radius: 8px;
}

.cortes-screen__table-mov {
    overflow: auto;
    border-radius: 10px;
    position: relative;
}
.cortes-screen__table-mov .flexible-table__body__cell-text {
    height: 60px;
    padding: 16px 12px;
}

.cortes-screen__table-mov::after {
    display: none;
}

.cortes-screen__table-mov.cortes-screen__table-mov--show-gradient::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    width: calc(100% - 8px);
    z-index: 10;
}

.cortes-screen__table-sm {
    height: calc(100vh - 165px);
}

.cortes-screen__table-lg {
    height: calc(100vh - 295px);
}

.cortes-screen__table__cell-concept {
    display: flex;
    flex-direction: column;
}

.cortes-screen__table__cell-concept__title {
    color: var(--tipografa);
    font-size: 12px;
    font-weight: 600;
}

.cortes-screen__table__cell-concept__subtitle {
    font-size: 12px;
    font-weight: 600;
}

.cortes-screen__float-btn {
    height: 60px;
    width: 60px;
    right: 250px;
}

.cortes-screen__float-btn svg {
    height: 30px;
    width: 30px;
}

.cortes-screen__empty {
    width: 100%;
    height: calc(100vh - 160px);
}

.cortes-screen__empty .empty__circle_theme_light {
    background-color: var(--fondo--close);
}

.cortes-screen__empty .empty__title {
    width: 100%;
    font-size: 29px;
}

.cortes-screen__empty .empty__description {
    font-size: 14px;
}

.cortes-screen-detail__table {
    height: calc(100vh - 330px);
}

.cortes-screen__history-drop__wrapper {
    position: relative;
    top: calc(100% + 3px);
    overflow: hidden;
    z-index: var(--top);
    width: 100%;
}

.cortes-screen__history-drop {
    position: fixed;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--white);
    border-radius: 7px;
    border: 0.864px solid var(--scroll);
    box-shadow: 0px 10.367px 13.823px -3.456px rgba(16, 24, 40, 0.08),
        0px 3.456px 5.184px -1.728px rgba(16, 24, 40, 0.03);
}

.cortes-screen__history-item {
    height: 38px;
    width: 100%;
    font-size: 14px;
    color: var(--tipografa);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 6px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--white);
}

.cortes-screen__history-item:hover {
    background-color: var(--fondo--close);
}

.cortes-screen__content {
    .cortes-screen-detail__table__ticket {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .reservas-screen__table-cell__pago {
        width: auto;
        margin-left: 8px;
    }
}

@media screen and (max-width: 1300px) {
    .cortes-screen__float-btn {
        right: 130px;
    }
}
