.caratulas-f__button {
    width: 236px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    background: var(--fondo-close);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.caratulas-f__button span {
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
}
.caratulas-f__button-structure {
    width: 236px;
    height: 40px;
}
.caratulas-f__subtitle {
    font-size: 14px;
    font-weight: 600;
    color: var(--placeholder);
}
.caratulas-f__subtitle span {
    font-size: 14px;
    font-weight: 600;
    color: var(--tipografa);
}
.caratulas-f__table {
    margin-top: 40px;
    height: calc(100vh - 142px);
    width: 100%;
    overflow: hidden auto;
}
.caratulas-f__table_range {
    height: calc(100vh - 160px);
}
.caratulas-f__cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.caratulas-f__link {
    background-color: var(--primary);
    color: var(--white);
    font-family: "Qualy";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    width: 71px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}
.caratulas-f__icon-btn {
    width: 30px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--primary);
    background-color: var(--fondo--close);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.caratulas-f__icon-btn:active {
    opacity: 0.5;
}
.caratulas-f__empty {
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.caratulas-f__empty .empty__circle_theme_light {
    background-color: var(--fondo--close);
}
.caratulas-f__empty .empty__title {
    width: 100%;
    font-size: 29px;
    margin: 24px 0 16px;
}
.caratulas-f__empty .empty__description {
    font-size: 14px;
}
.caratulas-f__table::after {
    display: none;
}
.caratulas-f__table.caratulas-f__table--show-gradient::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
    border-radius: 12px;
}
