.cortes__edicion-pago {
    box-sizing: border-box;
    overflow: hidden;
}
.cortes__edicion-pago__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding-top: 10px;
}
.cortes__edicion-pago__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--tipografa);
    line-height: 28px;
}
.cortes__edicion-pago__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--placeholder);
    line-height: 28px;
}
.cortes__edicion-pago__subtitle span {
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
}
.cortes__edicion-pago__type {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.cortes__edicion-pago__back {
    position: absolute;
    z-index: 5;
    top: 30px;
    left: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--fondo--close);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cortes__edicion-pago__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cortes__edicion-pago__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.cortes__edicion-pago__item {
    flex: 0 0 100%;
    overflow: hidden;
}
.cortes__edicion-pago__slide {
    width: 100%;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.cortes__edicion-pago__slide-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.cortes__edicion-form {
    height: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden auto;
}
.cortes__edicion-pago__form-item {
    margin-bottom: 25px;
}
.cortes__edicion-pago__form-title {
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cortes__edicion-pago__row {
    display: flex;
}
.cortes__edicion-pago__row-fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 25px;
    column-gap: 16px;
    margin-bottom: 16px;
}
.cortes__edicion-pago__border {
    margin-bottom: 18px;
}
.cortes__edicion-pago__auth-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.cortes__edicion-pago__auth-title {
    color: var(--tipografa);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
}
.cortes__edicion-pago__auth-description {
    width: 405px;
    color: var(--placeholder);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.cortes__edicion-pago__link {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cortes__edicion-pago__link > svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.cortes__edicion-pago__link > span {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--primary);
}
.cortes__edicion-pago__remove {
    position: relative;
    height: 24px;
    top: 30.8px;
}
.cortes__edicion-pago__propina-title {
    color: var(--tipografa);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}
.cortes__edicion-pago__propina__options {
    display: flex;
    column-gap: 12px;
    height: 63px;
    align-items: flex-end;
    padding: 0;
}
.cortes__edicion-pago__propina__tabs {
    display: flex;
    column-gap: 12px;
}
.cortes__edicion-pago__propina-item {
    width: auto;
    padding: 0 24px;
    height: 44px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid;
    transition: all ease-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cortes__edicion-pago__propina-item-title {
    color: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-right: 5px;
}
.cortes__edicion-pago__propina-item-label {
    color: var(--placeholder);
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
}
.cortes__edicion-pago__propina-item--default {
    border-color: var(--gray-disabled);
    background-color: var(--white);
    color: var(--header);
}
.cortes__edicion-pago__propina-item--active {
    border-color: var(--primary);
    background-color: var(--fondo--close);
    color: var(--primary);
}
.cortes__edicion-pago__propina-item--active .cortes__edicion-pago__propina-item-label {
    color: inherit;
}
.cortes__edicion-pago__propina-input-currency {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cortes__edicion-pago__propina-input-currency .input-text__container {
    width: 175px;
    position: relative;
    gap: 0;
}
.cortes__edicion-pago__propina-input-currency .input-text__label {
    margin-bottom: 6px;
}
.cortes__edicion-pago__propina-input-currency .input-text__hint--error {
    position: absolute;
    bottom: -18px;
}
.cortes__edicion-pago__total {
    margin-top: 8px;
    color: var(--tipografa);
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
}
.cortes__edicion-pago__total span {
    color: var(--primary);
    font-size: 12px;
    font-weight: 500;
}
.cortes__edicion-pago__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    padding: 16px 30px 0;
    box-sizing: border-box;
    border-top: 1px solid #efefef;
    margin-top: auto;
}
.cortes__edicion-pago__btn {
    width: 100%;
}
.cortes__edicion-pago__page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cortes__edicion-pago__empty {
    width: 100%;
    height: 100%;
    display: flex;
    row-gap: 0;
}
.cortes__edicion-pago__empty .empty__title {
    font-size: 16px;
    margin: 12px 0;
}
.cortes__edicion-pago__empty .empty__description {
    font-size: 14px;
}
