.historial-pago-propinas__layout {
    margin: 0 auto;
    width: 100%;
}

.historial-pago-propinas__header {
    margin-top: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.historial-pago-propinas__header__title {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.historial-pago-propinas__header__title--bold {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.historial-pago-propinas__header__right {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 12px;
}

.historial-pago-propinas__search {
    width: 296px;
}

.historial-pago-propinas__table__wrapper {
    width: 100%;
    margin-top: 24px;
    overflow-y: auto;

    .gastos-cards-skeleton-container {
        margin-bottom: 20px;
    }
    position: relative;
    border-radius: 0 0 22px 0;
}

.historial-pago-propinas__cards {
    display: flex;
    margin-bottom: 20px;
    .card__container {
        padding: 12px 16px;
        height: 70px;
        .card-header-title {
            font-size: 12px;
        }
    }
}
.historial-pago-propinas__table-scroll {
    position: relative;
    height: calc(100dvh - 340px); 
    overflow-y: auto;
}

.historial-pago-propinas__table-scroll::after {
    display: none;
}

.historial-pago-propinas__table-scroll.historial-pago-propinas__table-scroll--show-gradient::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
    border-radius: 10px;
}