@keyframes opacity-animation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}
.BgBlur {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--mid);
    height: calc(100vh - var(--header-height));
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.3px);
    -webkit-backdrop-filter: blur(17.3px);
    animation: opacity-animation 1s none ease;
}
.BgBlur--state--open {
    transition: all 1s;
    opacity: 1;
    z-index: var(--mid);
}
.BgBlur--state--close {
    transition: all 1s;
    display: none;
    opacity: 0;
}
