.table {
    border-collapse: collapse;
}

.table__header__cell__text {
    color: var(--gray-600, #475467);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.table__body__row--highlight {
    background: var(--wf-base-100, #f7f9fc);
}

.table__body__cell {
    border-bottom: 1px solid var(--gray-200, #eaecf0);
    height: 104px;
    padding: 16px 24px;
}

.table__body__cell-text {
    color: var(--gray-600, #475467);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.table__body__cell--center {
    text-align: center;
}

.table__body__cell-text--bold {
    color: var(--wf-base-900, #1a202c);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.table__body__cell-text--goTo {
    cursor: pointer;
}