.gastos__float-button {
    position: fixed;
    right: 80px;
    bottom: 80px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
