.forgot__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.forgot__container-large {
    padding-top: 60px;
}
.forgot__container-short {
    padding-top: 24px;
}
.forgot__screen-title {
    color: #0e0e0e;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.forgot__logo {
    height: 44px;
    margin-bottom: 25px;
}
.forgot__logo img {
    height: 44px;
}
.forgot__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--tipografa);
    margin: 0 0 5px;
}
.forgot__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--tipografa);
    margin-bottom: 40px;
    text-align: center;
}
.forgot__form {
    width: 100%;
}
.forgot__button {
    width: 100%;
    margin: 40px 0 30px;
}
.forgot__link {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #6941c6;
    cursor: pointer;
}
.forgot__link:active {
    opacity: 0.5;
}
