.room-sales__total__label {
    color: var(--Estilo-Tipografia, #303030);

    /* Link - 14 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.room-sales__total__title {
    color: var(--Estilo-Tipografia, #303030);

    /* Link - 14 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}
