.inventory-card {
    border-radius: 8px;
    border: 1.5px solid var(--Scroll, #eaecf0);
    background: var(--Color, #fff);
    width: 200px;
    max-width: 200px;
    height: 255px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
