.total-income {
    height: 102px;
    position: relative;

    @apply w-full flex items-center;
}

.total-income__wrapper {
    display: flex;
    column-gap: 20px;
}

.total-income__labels {
    display: flex;
    flex-direction: column;
}

.total-income__title {
    color: var(--Estilo-Tipografia, #303030);

    /* H3 - 18 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}

.total-income__subtitle {
    color: var(--Estilo-Morado-primario, #6941c6);

    /* H2 - 24 */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}

.total-income__icon__corner {
    position: absolute;
    right: 12px;
    top: 22px;
}

.total-income__skeleton {
    background: linear-gradient(90deg, rgba(212, 193, 255, 0.4) 0%, rgba(212, 193, 255, 0.4) 40%, #faf6fe 80%);
    border-radius: 7px;
}
