.room-to-clean__cols {
    display: flex;
    justify-content: space-between;
}

.room-to-clean__cols__label {
    color: var(--Blanco, #fff);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.room-to-clean__tabs {
    margin-top: 20px;
    height: calc(100dvh - 225px);
    overflow: auto;
}
