.gauge-chart--sales {
    height: 300px;
    margin-bottom: -130px;
    @apply w-full;
}

.counter {
    color: var(--Estilo-Tipografia, #303030);

    /* H1 - 36 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
}

.counter__label {
    color: var(--Estilo-Tipografia, #303030);

    /* Link - 16 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
