.room-detail__page--checkout-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
}

.room-detail__page--checkout-resumen {
    width: 300px;
    height: calc(100dvh - 190px);
    min-height: 385px;
    padding: 24px;
    margin-left: 37px;
    margin-top: 20px;

    border-radius: 6px;
    background: var(--Color, #fff);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.room-detail__page--checkout-header {
    width: 100%;
    display: flex;
}

.room-detail__page--checkout-resumen__title {
    color: var(--Tipografa, #303030);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.room-detail__page--checkout-body {
    width: 100%;
    height: 393px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.room-detail__page--checkout__item {
    margin: 12px 0;
}

.room-detail__page--checkout__divider {
    width: 100%;
    height: 1.5px;
    margin: 10px 0;
    background-color: var(--gray-background);
}

.room-detail__page--checkout-footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-detail__page--checkout__total--item {
    width: 100%;
    margin: 4px 0;
}

.room-detail__page--checkout__total--bold {
    display: flex;
    justify-content: space-between;

    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.room-detail__page--checkout__total--thin {
    display: flex;
    justify-content: space-between;

    color: var(--Placeholder, var(--Placeholder, #667085));
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.12px;
}

.room-detail__page--checkout__total--last {
    margin: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.room-detail__page--checkout__total--last__text {
    color: var(--Tipografa, #303030);
    font-feature-settings: "calt" off;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
}

.room-detail__page--modal--confirm {
    color: var(--Placeholder, var(--Placeholder, #667085));
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}
.room-detail__page--modal--confirm--bold {
    color: var(--Placeholder, var(--Placeholder, #667085));
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
