.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 60px;
}
.login__logo {
    height: 44px;
}
.login__logo img {
    height: 44px;
}
.login__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: var(--tipografa);
    margin: 25px 0 40px;
}
.login__form {
    width: 100%;
}
.login__inputs {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 16px;
}
.login__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.login__forgot {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #6941c6;
    cursor: pointer;
}
.login__forgot:active {
    opacity: 0.5;
}
.login__divider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}
.login__divider-line {
    background-color: #bebebe;
    height: 1px;
    width: 100%;
}
.login__divider-text {
    position: absolute;
    background-color: #fff;
    width: 40px;
    color: var(--tipografa);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
    text-align: center;
}
.login__buttons {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.login__button {
    width: 100%;
}
.login__google-entry {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #bebebe;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.login__google-entry span {
    font-family: "Qualy", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--tipografa);
    margin-left: 12px;
}
.login__google-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.login__google-button span {
    font-family: "Qualy", sans-serif !important;
    font-size: 14px;
    font-weight: 400 !important;
    flex-grow: inherit !important;
}
.login__google-button div[role="button"] {
    width: 100% !important;
    max-width: none !important;
    padding: 0 calc((100vw - 280px) / 2);
}

@media (width >= 360px) {
    .login__google-button div[role="button"] {
        padding: 0 calc((100vw - 250px) / 2);
    }
}
