.flexible-table-container {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--Fondo-select-drop, #EFEFEF);
    background: #fff;
}

.flexible-table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.flexible-table__header {
    border-collapse: collapse;
    background-color: var(--pale-white);
    border-bottom: 0.5px solid var(--gray-cell-header);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

/* Scrollbar nice-to-have */
.flexible-table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}
.flexible-table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--gray-cell-header);
}
.flexible-table-container:focus {
    outline: none;
}

/* El scroll solo debe estar en el contenedor, NO en la tabla */
.flexible-table::-webkit-scrollbar { display: none; }
.flexible-table::-webkit-scrollbar-thumb { display: none; }

.flexible-table__body__cell {
    border-bottom: 1px solid var(--light-gray);
    height: 104px;
    padding: 16px 24px;
}
.flexible-table__body__cell--center {
    text-align: center;
}
.flexible-table__body__cell-text--goTo {
    cursor: pointer;
}
.emptyState__table {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 44px);
    display: flex;
    flex-direction: column;
    padding: 60px 16px;
    border-radius: 12px;
}
.flexible-table-block {
    height: 70px;
    width: 2370%;
    background-color: #eeeaf0;
}
.flexible-table-sticky {
    overflow: visible;
}