.add-recipe__input {
    width: 327px;
}

.add-recipe__input__venta {
    width: 474px;
}

.add-recipe__section__articles {
    min-height: 300px;
    height: calc(100dvh - 580px);
    overflow: auto;
}

.add-recipe__input__checkbox {
    margin: 25px 0;
}


