.table-card__wrapper {
    margin: auto;
    padding: 12px;
    width: 137px;
    height: 94px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px var(--box-shadow);
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.state-disponible {
    background-color: var(--green-card-available);
}

.state-en_servicio {
    background-color: var(--fondo-close);
}

.state-pago_pendiente {
    background-color: var(--ocupada-card-1);
}

.state-en_preparacion {
    background-color: var(--card-supervision);
}

.state-por_entregar {
    background-color: var(--ocupada-card-1);
}

.state-sucia {
    background-color: var(--yellow-light);
}

.state-bloqueada {
    background-color: var(--card-gray);
}

.table-card--icon_wrapper {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.icon-disponible {
    background-color: var(--green-available);
}

.icon-en_servicio {
    background-color: var(--purple-drawer-primario);
}

.icon-pago_pendiente {
    background-color: var(--error);
}

.icon-en_preparacion {
    background-color: var(--card-limpieza-1);
}

.icon-por_entregar {
    background-color: var(--pink-ocupado);
}

.icon-sucia {
    background-color: var(--sucia);
}

.icon-bloqueada {
    background-color: var(--icon-bloqueada);
}

.table-card--state_wrapper {
    position: relative;
    max-width: 62px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-card--state_wrapper_service {
    position: relative;
    width: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-card--state_servicio_text {
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 115px;
    color: var(--tipografa);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.2px;
}

.table-card--state_text {
    margin-top: 15px;
    color: var(--tipografa);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.2px;
}

.table-card--state_subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 135px;
    color: var(--tipografa);
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.2px;
    margin-top: 6px;
}

.table-card--info_wrapper {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.table_card--info_table {
    margin-bottom: 28px;
    position: relative;
    width: 30px;
    overflow: visible;
}

.table_card--info_table_title {
    color: var(--tipografa);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table_card--info_table_text {
    color: var(--tipografa);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table_card--info_persons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.table_card--info_persons_text {
    color: var(--tipografa);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    letter-spacing: -0.12px;
}

.restaurant-very-late {
    color: #dc3737;
    font-weight: 600;
}
