.tab-menu {
    height: 44px;
    display: flex;
}
.tab-menu--fullscreen {
    .tab-menu__item {
        width: 100%;
    }
}
.tab-menu__item {
    height: 100%;
    width: 150px;
    border-radius: 6px;
    display: flex;
    width: fit-content;
    margin: 0px 5px;
    padding: 0px 5px;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    border: 1px solid transparent;
    .tab-menu__item__label {
        color: var(--Placeholder, var(--Placeholder, #667085));
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }
    .tab-menu__item__badge {
        border-radius: 16px;
        margin-left: 8px;
        border: 1px solid var(--Scroll, #eaecf0);
        background: var(--stroke-inputs-default, #f2f4f7);
        mix-blend: multiply;

        color: var(--Placeholder, var(--Placeholder, #667085));
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
    }
}
.tab-menu__item__badge {
    display: flex;
    padding: 2px 8px;
    align-items: center;
    justify-content: center;
}
.tab-menu__item__label {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
}
.tab-menu__item--active {
    background-color: var(--purple-tab);
    border: 1px solid var(--purple-drawer-primario);
    .tab-menu__item__label {
        color: var(--morado-morado-primario, #6941c6);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }
    .tab-menu__item__badge {
        border-radius: 16px;
        border: 1px solid var(--morado-morado-primario, #6941c6);
        background: var(--morado-morado-primario, #6941c6);
        mix-blend: multiply;

        color: var(--white);
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
    }
}

.tab-menu--dark__item {
    height: 100%;
    width: 150px;
    display: flex;
    width: fit-content;
    margin: 0px 5px;
    padding: 0px 5px;
    align-items: center;
    background-color: transparent;
    justify-content: space-evenly;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.tab-menu--dark__item__label {
    color: var(--white);
    font-weight: 500;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}
.tab-menu--dark__item--active {
    border-bottom: 3px solid var(--white);
}
